<template>
    <div id="page-directory">

        <div class="list" v-if="screen_type == 'list'">
            <div class="general-border">
                <h3>選手名鑑</h3>

                <div class="formset clearfix mt-16">
                    <div class="inputs">
                        <input type="checkbox" v-model="full_showing" name="full_showing" value="" id="full-showing"><label for="full-showing">全体表示</label>
                    </div>
                </div>

                <div class="paginator head">
                    <div class="controller">
                        <div class="prev-10" v-on:click="toPrevPage(10)"></div>
                        <div class="prev-1" v-on:click="toPrevPage(1)"></div>
                        <div class="now-page">{{ now_page }}ページ目</div>
                        <div class="next-1" v-on:click="toNextPage(1)"></div>
                        <div class="next-10" v-on:click="toNextPage(10)"></div>
                    </div>
                    <div class="page-line" v-if="mileStones">
                        <span v-for="number in mileStones"><span class="number-wrap"><span class="number" v-on:click="toPage(number)">{{ number }}</span></span><span class="elipsis" v-if="number !== max_page">…</span></span>
                    </div>
                </div>

                <ul class="players">
                    <li class="player" v-for="player in directoryPlayers" v-on:click="showDetail(player.id)">
                        <div v-if="player !== null">
                            <span class="name">{{ player.name }}</span><span class="age" v-if="player.retired === 1">引退</span><span class="age" v-else>{{ player.age }}歳</span><span class="rate">★{{ player.rate }}</span><span class="player-type"><span v-if="player.is_pitcher && player.is_fielder">投手・野手</span><span v-else-if="player.is_pitcher">投手</span><span v-else="player.is_fielder">野手</span></span>
                        </div>
                        <div v-else>
                            <span class="unpossessed">？？？</span>
                        </div>
                    </li>
                </ul>

                <div class="paginator foot">
                    <div class="page-line" v-if="mileStones">
                        <span v-for="number in mileStones"><span class="number-wrap"><span class="number" v-on:click="toPage(number)">{{ number }}</span></span><span class="elipsis" v-if="number !== max_page">…</span></span>
                    </div>
                    <div class="controller">
                        <div class="prev-10" v-on:click="toPrevPage(10)"></div>
                        <div class="prev-1" v-on:click="toPrevPage(1)"></div>
                        <div class="now-page">{{ now_page }}ページ目</div>
                        <div class="next-1" v-on:click="toNextPage(1)"></div>
                        <div class="next-10" v-on:click="toNextPage(10)"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="detail" v-if="screen_type == 'detail'">
            <div class="controller clearfix">
                <div class="cancel" v-on:click.stop="showScreen('list')"></div>
            </div>
            <div class="general-border present-status">
                <div class="player" v-if="!_.isEmpty(this.player_detail)">
                    <div class="main-info">
                        <div class="col-1 clearfix">
                            <span class="name">{{ player_detail.name }}</span><span class="rate">★{{ player_detail.rate }}</span>
                        </div>
                        <div class="col-2 clearfix">
                            <span class="age"><span class="val">{{ player_detail.possessed_player.age }}</span>歳</span><span class="free" v-if="player_detail.possessed_player.skip_level > 1">(<span class="label" v-if="player_detail.possessed_player.skip_level === 2 && player_detail.possessed_player.once_skip_executed === 0">ONCE SKIP</span><span v-else-if="player_detail.possessed_player.skip_level === 2 && player_detail.possessed_player.once_skip_executed === 1"> ONCE SKIP 済</span><span class="label" v-else>FREE SKIP</span><span class="free-description" v-on:click.stop="showModal('skip-description')">?</span>)</span><span class="positions">{{ getPositionLabels() }}</span>
                        </div>
                    </div>
                    <div class="result-info clearfix" v-if="player_detail.has_batting_result === true">
                        <div class="result-wrap"><span class="result-title">試合</span><span class="result-value">{{ player_detail.player_batting_result.game }}</span></div>
                        <div class="result-wrap"><span class="result-title">打席</span><span class="result-value">{{ player_detail.player_batting_result.plate_appearance }}</span></div>
                        <div class="result-wrap"><span class="result-title">打数</span><span class="result-value">{{ player_detail.player_batting_result.at_bats }}</span></div>
                        <div class="result-wrap"><span class="result-title">得点</span><span class="result-value">{{ player_detail.player_batting_result.runs }}</span></div>
                        <div class="result-wrap"><span class="result-title">安打</span><span class="result-value">{{ player_detail.player_batting_result.hits }}</span></div>
                        <div class="result-wrap"><span class="result-title">二塁打</span><span class="result-value">{{ player_detail.player_batting_result.twobase }}</span></div>
                        <div class="result-wrap"><span class="result-title">三塁打</span><span class="result-value">{{ player_detail.player_batting_result.triple }}</span></div>
                        <div class="result-wrap"><span class="result-title">本塁打</span><span class="result-value">{{ player_detail.player_batting_result.homerun }}</span></div>
                        <div class="result-wrap"><span class="result-title">塁打</span><span class="result-value">{{ player_detail.player_batting_result.hits + player_detail.player_batting_result.twobase + player_detail.player_batting_result.triple * 2 + player_detail.player_batting_result.homerun * 3 }}</span></div>
                        <div class="result-wrap"><span class="result-title">打点</span><span class="result-value">{{ player_detail.player_batting_result.rbi }}</span></div>
                        <div class="result-wrap"><span class="result-title">盗塁</span><span class="result-value">{{ player_detail.player_batting_result.stolen_base }}</span></div>
                        <div class="result-wrap"><span class="result-title">盗塁死</span><span class="result-value">{{ player_detail.player_batting_result.caught_stealing }}</span></div>
                        <div class="result-wrap"><span class="result-title">犠打</span><span class="result-value">{{ player_detail.player_batting_result.sacrifice_bunt }}</span></div>
                        <div class="result-wrap"><span class="result-title">犠飛</span><span class="result-value">{{ player_detail.player_batting_result.sacrifice_fly }}</span></div>
                        <div class="result-wrap"><span class="result-title">四球</span><span class="result-value">{{ player_detail.player_batting_result.fourball }}</span></div>
                        <div class="result-wrap"><span class="result-title">敬遠</span><span class="result-value">{{ player_detail.player_batting_result.intentional_walk }}</span></div>
                        <div class="result-wrap"><span class="result-title">死球</span><span class="result-value">{{ player_detail.player_batting_result.deadball }}</span></div>
                        <div class="result-wrap"><span class="result-title">三振</span><span class="result-value">{{ player_detail.player_batting_result.strikeout }}</span></div>
                        <div class="result-wrap"><span class="result-title">併殺打</span><span class="result-value">{{ player_detail.player_batting_result.doubleplay }}</span></div>
                        <div class="result-wrap"><span class="result-title">打率</span><span class="result-value">{{ formatAvg(player_detail.player_batting_result.avg) }}</span></div>
                        <div class="result-wrap"><span class="result-title">出塁率</span><span class="result-value">{{ formatAvg(player_detail.player_batting_result.obp) }}</span></div>
                        <div class="result-wrap"><span class="result-title">長打率</span><span class="result-value">{{ formatAvg(player_detail.player_batting_result.slg) }}</span></div>
                        <div class="result-wrap"><span class="result-title">OPS</span><span class="result-value">{{ formatAvg(player_detail.player_batting_result.ops) }}</span></div>
                    </div>
                    <div class="result-info clearfix" v-if="player_detail.has_pitching_result === true">
                        <div class="result-wrap"><span class="result-title">登板</span><span class="result-value">{{ player_detail.player_pitching_result.game }}</span></div>
                        <div class="result-wrap"><span class="result-title">先発</span><span class="result-value">{{ player_detail.player_pitching_result.starter }}</span></div>
                        <div class="result-wrap"><span class="result-title">打者数</span><span class="result-value">{{ player_detail.player_pitching_result.plate_appearance }}</span></div>
                        <div class="result-wrap"><span class="result-title">投球回</span><span class="result-value">{{ formatGetout(player_detail.player_pitching_result.getout) }}</span></div>
                        <div class="result-wrap"><span class="result-title">失点</span><span class="result-value">{{ player_detail.player_pitching_result.allowed_runs }}</span></div>
                        <div class="result-wrap"><span class="result-title">自責点</span><span class="result-value">{{ player_detail.player_pitching_result.earned_runs }}</span></div>
                        <div class="result-wrap"><span class="result-title">被安打</span><span class="result-value">{{ player_detail.player_pitching_result.allowed_hits }}</span></div>
                        <div class="result-wrap"><span class="result-title">被本塁打</span><span class="result-value">{{ player_detail.player_pitching_result.allowed_homeruns }}</span></div>
                        <div class="result-wrap"><span class="result-title">奪三振</span><span class="result-value">{{ player_detail.player_pitching_result.strikeouts }}</span></div>
                        <div class="result-wrap"><span class="result-title">与四球</span><span class="result-value">{{ player_detail.player_pitching_result.bases_on_balls }}</span></div>
                        <div class="result-wrap"><span class="result-title">敬遠</span><span class="result-value">{{ player_detail.player_pitching_result.intentional_bases_on_balls }}</span></div>
                        <div class="result-wrap"><span class="result-title">与死球</span><span class="result-value">{{ player_detail.player_pitching_result.hit_by_pitches }}</span></div>
                        <div class="result-wrap"><span class="result-title">勝利</span><span class="result-value">{{ player_detail.player_pitching_result.wins }}</span></div>
                        <div class="result-wrap"><span class="result-title">敗戦</span><span class="result-value">{{ player_detail.player_pitching_result.losses }}</span></div>
                        <div class="result-wrap"><span class="result-title">ホールド</span><span class="result-value">{{ player_detail.player_pitching_result.holds }}</span></div>
                        <div class="result-wrap"><span class="result-title">セーブ</span><span class="result-value">{{ player_detail.player_pitching_result.saves }}</span></div>
                        <div class="result-wrap"><span class="result-title">完投</span><span class="result-value">{{ player_detail.player_pitching_result.complete_games }}</span></div>
                        <div class="result-wrap"><span class="result-title">完封</span><span class="result-value">{{ player_detail.player_pitching_result.shutouts }}</span></div>
                        <div class="result-wrap"><span class="result-title">防御率</span><span class="result-value">{{ player_detail.player_pitching_result.era }}</span></div>
                        <div class="result-wrap"><span class="result-title">WHIP</span><span class="result-value">{{ player_detail.player_pitching_result.whip }}</span></div>
                    </div>
                </div>
            </div>
            <div class="general-border career-status" v-if="!_.isEmpty(this.player_detail)">
                <div class="career-result-info" v-if="player_detail.possessed_player.skip_level > 1">
                    <h3>通算成績</h3>
                    <table v-if="!_.isEmpty(player_detail.player_batting_results)">
                        <thead>
                            <tr>
                                <th>年齢</th><th>試合</th><th>打率</th><th>本塁</th><th>打点</th><th>盗塁</th><th>OPS</th><th v-if="isSkippable">SKIP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="player_batting_result in player_detail.player_batting_results">
                                <td class="age">{{ player_batting_result.player_age }}</td><td>{{ player_batting_result.game }}</td><td>{{ formatAvg(player_batting_result.avg) }}</td><td>{{ player_batting_result.homerun }}</td><td>{{ player_batting_result.rbi }}</td><td>{{ player_batting_result.stolen_base }}</td><td>{{ formatAvg(player_batting_result.ops) }}</td><td class="skip" v-if="isSkippable" v-on:click.stop="confirmSkip(player_batting_result.player_age)">SKIP</td>
                            </tr>
                            <tr>
                                <td>通算</td><td>{{ player_detail.player_batting_career_result.game }}</td><td>{{ formatAvg(player_detail.player_batting_career_result.avg) }}</td><td>{{ player_detail.player_batting_career_result.homerun }}</td><td>{{ player_detail.player_batting_career_result.rbi }}</td><td>{{ player_detail.player_batting_career_result.stolen_base }}</td><td>{{ formatAvg(player_detail.player_batting_career_result.ops) }}</td><td v-if="isSkippable"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table v-if="!_.isEmpty(player_detail.player_pitching_results)">
                        <thead>
                            <tr>
                                <th>年齢</th><th>登板</th><th>投球回</th><th>勝利</th><th>敗戦</th><th>セーブ</th><th>防御率</th><th>WHIP</th><th v-if="isSkippable">SKIP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="player_pitching_result in player_detail.player_pitching_results">
                                <td class="age">{{ player_pitching_result.player_age }}</td><td>{{ player_pitching_result.game }}</td><td>{{ formatGetout(player_pitching_result.getout) }}</td><td>{{ player_pitching_result.wins }}</td><td>{{ player_pitching_result.losses }}</td><td>{{ player_pitching_result.saves }}</td><td>{{ player_pitching_result.era }}</td><td>{{ player_pitching_result.whip }}</td><td class="skip" v-if="isSkippable" v-on:click.stop="confirmSkip(player_pitching_result.player_age)">SKIP</td>
                            </tr>
                            <tr>
                                <td>通算</td><td>{{ player_detail.player_pitching_career_result.game }}</td><td>{{ formatGetout(player_detail.player_pitching_career_result.getout) }}</td><td>{{ player_detail.player_pitching_career_result.wins }}</td><td>{{ player_detail.player_pitching_career_result.losses }}</td><td>{{ player_detail.player_pitching_career_result.saves }}</td><td>{{ player_detail.player_pitching_career_result.era }}</td><td>{{ player_detail.player_pitching_career_result.whip }}</td><td v-if="isSkippable"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal skip-description" style="display: none;">
            <h3>選手SKIPについて</h3>
            <div class="descriptions">
                <p>・同じ選手を２回獲得すると、その選手は<span class="once-skip">ONCE SKIP</span>状態となります。</p>
                <p>・<span class="once-skip">ONCE SKIP</span>状態の選手は、１度だけ年齢を自由に変更することができます。</p>
                <p>・同じ選手を合計３回獲得すると、その選手は<span class="free-skip">FREE SKIP</span>状態となります。</p>
                <p>・<span class="free-skip">FREE SKIP</span>状態の選手は、何度でも年齢を自由に変更することができます。</p>
            </div>
        </div>

        <div class="modal skip" style="display: none;">
            <h3>選手にSKIPを実行します</h3>
            <div v-if="about_to_skip_age !== null">
                <div v-if="!_.isEmpty(player_detail.player_batting_results)">
                    <div class="before-result"><span class="age">{{ player_detail.possessed_player.age }}</span>歳 打率{{ formatAvg(player_detail.player_batting_result.avg) }} {{ formatAvg(player_detail.player_batting_result.homerun) }}本塁打 {{ formatAvg(player_detail.player_batting_result.rbi) }}打点</div>
                    <div class="arrow">↓</div>
                    <div class="after-result"><span class="age">{{ about_to_skip_age }}</span>歳 打率{{ formatAvg(getSkippedResult('batter').avg) }} {{ getSkippedResult('batter').homerun }}本塁打 {{ getSkippedResult('batter').rbi }}打点</div>
                </div>
                <div v-if="!_.isEmpty(player_detail.player_pitching_results)">
                    <div class="before-result"><span class="age">{{ player_detail.possessed_player.age }}</span>歳 防御率{{ player_detail.player_pitching_result.era }} {{ player_detail.player_pitching_result.wins }}勝 {{ player_detail.player_pitching_result.losses }}敗</div>
                    <div class="arrow">↓</div>
                    <div class="after-result"><span class="age">{{ about_to_skip_age }}</span>歳 防御率{{ getSkippedResult('pitcher').era }} {{ getSkippedResult('pitcher').wins }}勝 {{ getSkippedResult('pitcher').losses }}敗</div>
                </div>
                <div class="descriptions" v-if="player_detail.possessed_player.skip_level === 2 && player_detail.possessed_player.once_skip_executed === 0">
                    <p>この選手に対して、１度だけSKIPを実行することができます。</p>
                </div>
                <div class="descriptions"  v-if="player_detail.possessed_player.skip_level === 3">
                    <p>今シーズン終了後も歳をとりません</p>
                </div>
            <div class="act-skip" v-on:click="skip()">SKIP実行</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loaded: false,
            screen_type: 'list',
            full_showing: false,
            possessed_players: [],
            possessed_players_by_id: {},
            per_page: 10,
            now_page: 1,
            max_page: null,
            player_detail: {},
            about_to_skip_age: null,
        }
    },
    mounted() {
        Promise.all([
            this.getPossessedPlayers(),
        ])
        .then(() => { this.loaded = true; });
    },
    methods: {
        getPossessedPlayers() {
            return this.$http.get('/api/possessed_player')
            .then(res => {
                this.possessed_players = res.data;
                _.each(res.data, (player) => {
                    this.possessed_players_by_id[player.id] = player;
                });
                this.updateMaxPage();
                return Promise.resolve();
            });
        },
        toPrevPage(page_count) { 
            let page = this.now_page - page_count;
            if (page < 1) page = 1;
            this.now_page = page;
        },
        toNextPage(page_count) {
            let page = this.now_page + page_count;
            if (page > this.max_page) page = this.max_page;
            this.now_page = page;
        },
        toPage(page) {
            if (page < 0 || page > this.max_page) return false;
            this.now_page = page;
        },
        updateMaxPage() {
            let max_count = (this.full_showing) ? this.constant.all_player_count : this.possessed_players.length;
            this.max_page = Math.ceil(max_count / this.per_page);
            if (this.now_page > this.max_page) this.now_page = this.max_page;
        },
        getPlayerDetail(player_id) {
            return this.$http.get('/api/possessed_player/' + player_id)
            .then(res => {
                this.player_detail = res.data
                return Promise.resolve();
            });
        },
        showDetail(player_id) {
            this.getPlayerDetail(player_id);
            this.showScreen('detail');
        },
        getPositionLabels() {
            return _.map(this.player_detail.positions, this.toPositionLabel).join(',');
        },
        confirmSkip(age) {
            this.about_to_skip_age = age;
            this.showModal('skip');
        },
        getSkippedResult(batter_or_pitcher) {
            let results_key = (batter_or_pitcher === 'batter') ? 'player_batting_results' : 'player_pitching_results';
            return _.find(this.player_detail[results_key], (result) => result.player_age === this.about_to_skip_age);
        },
        skip() {
            return this.$http.post('/api/possessed_player/skip', { player_id: this.player_detail.id, age: this.about_to_skip_age })
            .then(res => {
                if (res.data.successful === true) {
                    this.getPlayerDetail(this.player_detail.id)
                    .then(() => this.$.modal.close());
                }
                return Promise.resolve();
            });
        },

    },
    computed: {
        directoryPlayers() {
            let max_count = (this.full_showing) ? this.constant.all_player_count : this.possessed_players.length;

            let players = [];

            let start_count = (this.now_page - 1) * this.per_page + 1;
            let end_count = start_count + this.per_page - 1;
            if (end_count > max_count) end_count = max_count;

            if (this.full_showing) {
                for (let id = start_count; id <= end_count; id++) {
                    let item = _.has(this.possessed_players_by_id, id) ? this.possessed_players_by_id[id] : null;
                    players.push(item);
                }
                return players;
            } else {
                return this.possessed_players.slice(start_count - 1, end_count);
            }
        },
        isSkippable() {
            if (_.isEmpty(this.player_detail)) return false;
            return this.player_detail.possessed_player.skip_level === 3 || this.player_detail.possessed_player.skip_level === 2 && this.player_detail.possessed_player.once_skip_executed === 0;
        },
        mileStones() {
            return this.makePaginatorMilestone(this.max_page);
        }
    },
    watch: {
        full_showing() { this.updateMaxPage(); }
    }

}
</script>
