<template>
    <div id="page-friend">
        <div class="general-border">
            <h3>友達をゲームに招待して<span class="coin">COIN</span>をGETしよう！</h3>
            <p>あなたのシェアによって友達がゲームに参加した場合、あなたと友達にそれぞれ<span class="coin">500</span>をプレゼント！</p>
            <p>さらにそのチームがゲームを進めて、20選手以上獲得したら<span class="coin">1000</span>をプレゼントします！</p>
            <p>以下ボタンまたは試合結果画面やランキングツイートからシェアしよう！</p>
            <div class="share-buttons" v-if="getTwitterHref !== ''">
                <a class="button twitter" target="_blank" v-bind:href="getTwitterHref">シェアする</a>
                <a class="button facebook" target="_blank" v-bind:href="getFacebookHref">シェアする</a>
                <a class="button line" target="_blank" v-bind:href="getLineHref">シェアする</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
    },
    data() {
        return {
            introduce_text: 'TimelessBallparkープロ野球選手の年度別成績を組み合わせてチームを作って遊ぼう'
        }
    },
    computed: {
        getTwitterHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'https://twitter.com/intent/tweet?url=' + app_url + '?c=' + this.$root.state.user.introducing_code + '&text=' + this.introduce_text + '&hashtags=TimelessBallpark';
        },
        getFacebookHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'http://web.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=' + app_url + '?c=' + this.$root.state.user.introducing_code + '%2F&display=popup&ref=plugin&src=share_button';
        },
        getLineHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'http://line.me/R/msg/text/?' + this.introduce_text + ' ' + app_url + '?c=' + this.$root.state.user.introducing_code;
            
        }
    }
}
</script>
