<template>
    <div id="page-game" v-if="loaded">
        <div class="result-label">{{ game.game_number }}試合目</div>
        <div class="teams clearfix">
            <div class="teamname">{{ game.home_team.name }}</div><div class="vs">VS</div><div class="teamname">{{ game.visitor_team.name }}</div>
        </div>
        <div class="scoreboard">
            <table>
                <thead>
                    <tr>
                        <th v-for="(score, inning) in game_result.scoreHighLight.visitor">{{ inning }}</th><th>R</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td class="teamname" v-bind:colspan="_.keys(game_result.scoreHighLight.visitor).length + 1"><div class="teamname">{{ game.visitor_team.name }}</div></td></tr>
                    <tr v-for="team_type in _.reverse(_.values(getTeamtype()))" v-bind:class="team_type">
                        <td v-for="(score, inning) in game_result.scoreHighLight[team_type]">
                            <div class="inning-score" v-on:mouseover="showBalloon(team_type, inning)" v-on:mouseout="hideBalloon()">
                                <div class="score">{{ score }}</div>
                                <div class="balloon" v-bind:class="{ show: isOnMouseBalloon(team_type, inning) }" v-on:click="hideBalloon()">
                                    <div class="plays">
                                        <div class="play" v-for="play in grouped_plays[team_type][inning]">
                                            <div class="pinch-hitter" v-if="play.pinchHitter">代打：{{ getPlayer(team_type, play.pinchHitter.fromPlayerID).name }}->{{ getPlayer(team_type, play.pinchHitter.toPlayerID).name }}</div>
                                            <div class="relief-pitcher" v-if="play.reliefPitcher">投手交代：{{ getPlayer(reverseTeamType(team_type), play.reliefPitcher.fromPlayerID).name }}->{{ getPlayer(reverseTeamType(team_type), play.reliefPitcher.toPlayerID).name }}</div>
                                            <div class="relief-pitcher" v-for="command in play.fieldingCommand">守備交代：{{ toFieldingCommandStr(reverseTeamType(team_type), command) }}</div>
                                            <span class="outcount" v-for="n in play.initialOutCount">●</span><span class="outcount-rest" v-for="n in (3 - play.initialOutCount)">●</span><img v-bind:src="getRunnerSrc(play.runner)" /><span class="playername">{{ getPlayer(team_type, play.batterID).name }}</span><span class="result">{{ toResultStr(play.resultPlay) }}</span><span class="score">{{ play.score.home }}-{{ play.score.visitor }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><div class="total-score">{{ game_result.score[team_type] }}</div></td>
                    </tr>
                    <tr><td  class="teamname" v-bind:colspan="_.keys(game_result.scoreHighLight.visitor).length + 1"><div class="teamname">{{ game.home_team.name }}</div></td></tr>
                </tbody>
            </table>
        </div>

        <div class="statistics">
            <div v-for="team_type in _.reverse(_.values(getTeamtype()))" v-bind:class="team_type">
                <div class="label">{{ game[team_type + '_team'].name }} 野手成績</div>
                <table class="batter">
                    <thead>
                        <tr>
                            <th class="player-name">選手</th><th>打数</th><th>安打</th><th>本塁</th><th>打点</th><th>盗塁</th><th class="result-highright" v-for="(score, inning) in game_result.scoreHighLight[team_type]">{{ inning }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="player in getParticipatedPlayers(team_type, 'batter')">
                            <td>{{ player.name }}</td><td>{{ player.batting_result.at_bats }}</td><td>{{ player.batting_result.hits }}</td><td>{{ player.batting_result.homerun }}</td><td>{{ player.batting_result.rbi }}</td><td>{{ player.batting_result.stolen_base }}</td><td class="result-highright" v-for="(score, inning) in game_result.scoreHighLight[team_type]">{{ getBattingHighrightResult(player.batting_result.highrights, inning) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="label">{{ game[team_type + '_team'].name }} 投手成績</div>
                <table class="pitcher">
                    <thead>
                        <tr>
                            <th class="player-name">選手</th><th>回</th><th>被安</th><th>奪三</th><th>与四</th><th>失点</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="player in getParticipatedPlayers(team_type, 'pitcher')">
                            <td>{{ player.name }}</td><td>{{ toInningsPitched(player.pitching_result.getout) }}</td><td>{{ player.pitching_result.allowed_hits }}</td><td>{{ player.pitching_result.strikeouts }}</td><td>{{ player.pitching_result.bases_on_balls }}</td><td>{{ player.pitching_result.allowed_runs }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="share-buttons">
            <a class="button twitter" target="_blank" v-if="getTwitterHref !== ''" v-bind:href="getTwitterHref"></a>
            <a class="button facebook" target="_blank" v-if="getFacebookHref !== ''" v-bind:href="getFacebookHref"></a>
            <a class="button line" target="_blank" v-if="getLineHref !== ''" v-bind:href="getLineHref"></a>
        </div>

    </div>
</template>

<script>

export default {
    mounted() {
        this.getGameResult();
    },
    created() {
    },
    data() {
        return {
            game: null,
            game_result: {},
            grouped_plays: { home: {}, visitor: {} },
            showingBalloon: { team_type: null, inning: null },
            loaded: false,
            resultPositionStrs: { pitcher: '投', catcher: '捕', first: '一', second: '二', third: '三', shortstop: '遊', left: '左', center: '中', right: '右' },
            resultTypeStrs: { single: '安', twobase: '２', triple: '３', homerun: '本', strikeout: '三振', fourball: '四球', groundout: 'ゴ', flyout: '飛', doubleplay: '併' },
            teamtypes: { 'home': 'home', 'visitor': 'visitor' },
            inningStatusLabels: { 'top': '表', 'bottom': '裏' },
            resultTypes: { single: 'single', twobase: 'twobase', triple: 'triple', homerun: 'homerun', fourball: 'fourball', strikeout: 'strikeout', groundout: 'groundout', flyout: 'flyout', sacrifice_bunt: 'sacrifice_bunt', sacrifice_fly: 'sacrifice_fly', doubleplay: 'doubleplay', foulfly: 'foulfly', doubleplay: 'doubleplay' },
            resultTypeLabels: { single: 'ヒット', twobase: 'ツーベース', triple: 'スリーベース', homerun: 'ホームラン', fourball: 'フォアボール', strikeout: '三振', groundout: 'ゴロ', flyout: 'フライ', sacrifice_bunt: '送りバント', sacrifice_fly: '犠牲フライ', doubleplay: 'ダブルプレー', foulfly: 'ファールフライ', doubleplay: 'ダブルプレー' },
            numToPosition: { 1: 'pitcher', 2: 'catcher', 3: 'first', 4: 'second', 5: 'third', 6: 'shortstop', 7: 'left', 8: 'center', 9: 'right', 10: 'designated_hitter'},
            positionLabels: { 'pitcher': '投', 'catcher': '捕', 'first': '一', 'second': '二', 'third': '三', 'shortstop': '遊', 'left': '左', 'center': '中', 'right': '右', 'designated_hitter': '指'},
        }
    },
    methods: {
        getGameResult() {
            this.$http.get('/api/game/' + this.$route.params.id)
            .then(res => {
                this.game= res.data.game;
                this.game_result = JSON.parse(res.data.game.content);
                if (!_.has(this.game_result.scoreHighLight.home, 9)) this.game_result.scoreHighLight.home[9] = 'X'; // 9ウラがない場合
                let home_last_inning = _.findLastKey(this.game_result.scoreHighLight.home, o => true);
                if (home_last_inning >= 9 && this.game_result.scoreHighLight.home[home_last_inning] > 0 && this.game_result.score.home > this.game_result.score.visitor) {
                    // サヨナラ勝利
                    this.game_result.scoreHighLight.home[home_last_inning] += 'X';
                }
                
                _.each(this.game_result.plays, (play) => {
                    let team_type = (play.inningStatus == 'top') ? 'visitor' : 'home';
                    if (!_.has(this.grouped_plays, team_type + '.' + play.inning)) this.grouped_plays[team_type][play.inning] = [];
                    this.grouped_plays[team_type][play.inning].push(play);
                });
                this.loaded = true;
            });
        },
        getPlayer(team_type, player_id) {
            return _.find(this.game_result.teams[team_type].players, player => player.id === player_id);
        },
        getParticipatedPlayers(team_type, player_type) {
            if (player_type === 'batter') {
                let players = _.filter(this.game_result.teams[team_type].players, (player) =>  {
                    return player.game_participation !== null && (player.batting_result.plate_appearance > 0 || player.pitching_result.plate_appearance === 0);
                });
                return _.orderBy(players, ['game_participation.batting_order', 'game_participation.inning']);
            } else {
                let players = _.filter(this.game_result.teams[team_type].players, (player) =>  {
                    return player.game_participation !== null && player.pitching_result.plate_appearance > 0;
                });
                return _.orderBy(players, ['game_participation.inning', 'game_participation.batting_order']);
            }
        },
        showBalloon(team_type, inning) {
            this.showingBalloon.team_type = team_type;
            this.showingBalloon.inning = inning;
        },
        hideBalloon() {
            this.showingBalloon.team_type = null;
            this.showingBalloon.inning = null;
        },
        isOnMouseBalloon(team_type, inning) {
            return this.showingBalloon.team_type === team_type && this.showingBalloon.inning === inning;
        },
        getRunnerSrc(runner) {
            let runnerVal = 0;
            if (!_.isNull(runner.first)) runnerVal += 1;
            if (!_.isNull(runner.second)) runnerVal += 2;
            if (!_.isNull(runner.third)) runnerVal += 4;
            return '/img/runner' + runnerVal + '.png';
        },
        toFieldingCommandStr(team_type, command) {
            if (_.isEmpty(command.fromPosition)) {
                return this.getPlayer(team_type, command.fromPlayerId).name + '(' + this.getPositionLabel(this.toPosition(command.fromPosition)) + ')' + '<=>' + '(' + this.getPositionLabel(this.toPosition(command.toPosition)) + ')' + this.getPlayer(team_type, command.toPlayerId).name;
            } else {
                return this.getPlayer(team_type, command.fromPlayerId).name + '<->' + this.getPlayer(team_type, command.toPlayerId).name;
            }
        },
        toResultStr(result_play) {
            let result_str = '';
            if (_.has(this.resultPositionStrs, result_play.position)) result_str += this.resultPositionStrs[result_play.position];
            if (_.has(this.resultTypeStrs, result_play.resultType)) result_str += this.resultTypeStrs[result_play.resultType];
            return result_str;
        },
        getBattingHighrightResult(batting_highrights, inning) {
            if (!_.has(batting_highrights, inning)) return '-';
            let highright_strs = _.map(batting_highrights[inning], this.toResultStr);
            return highright_strs.join('/');
        },
        getViewTeamType() {
            return _.isEmpty(this.$route.params.view_team_type) ? this.getTeamtype('home') : this.$route.params.view_team_type;
        },
        getTeamtype(teamtype) {
            if (teamtype === undefined) return this.teamtypes;
            return (this.teamtypes.hasOwnProperty(teamtype)) ? this.teamtypes[teamtype] : '';
        },
        getInningStatusLabel(inning_status) {
            if (inning_status === undefined) return this.inningStatusLabels;
            return (this.inningStatusLabels.hasOwnProperty(inning_status)) ? this.inningStatusLabels[inning_status] : '';
        },
        getResultType(result_type) {
            if (result_type === undefined) return this.resultTypes;
            return (this.resultTypes.hasOwnProperty(result_type)) ? this.resultTypes[result_type] : '';
        },
        getResultTypeLabel(result_type) {
            if (result_type === undefined) return this.resultTypeLabels;
            return (this.resultTypeLabels.hasOwnProperty(result_type)) ? this.resultTypeLabels[result_type] : '';
        },
        toPosition(num) {
            return this.numToPosition[num];
        },
        getPositionLabel(position) {
            return (this.positionLabels.hasOwnProperty(position)) ? this.positionLabels[position] : '';
        },
        toInningsPitched(getout) {
            if (getout % 3 === 0) {
                return getout / 3;
            } else {
                return Math.floor(getout / 3) + '.' + getout % 3;
            }
        },
        reverseTeamType(team_type) {
            return (team_type === this.teamtypes.home) ? this.teamtypes.visitor : this.teamtypes.home;
        },
        toTeamType(inning_status) {
            return (inning_status === 'top') ? this.teamtypes.visitor : this.teamtypes.home;
        },
        trimToLastname(fullname) {
            return fullname.split(' ')[0];
        },
        toZenkaku(str) {
            return str.replace(/[A-Za-z0-9]/g, function(s) {
                return String.fromCharCode(s.charCodeAt(0) + 65248);
            });
        },
        getUrl() {
            return window.location.href;
        },
        makeIntroducingText() {
            return this.game.home_team.name + ' VS ' + this.game.visitor_team.name + 'の試合結果';
        },
    },
    computed: {
        getTwitterHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'https://twitter.com/intent/tweet?url=' + app_url + '/game/' + this.game.id + '?c=' + this.$root.state.user.introducing_code + '&text=' + this.makeIntroducingText() + '&hashtags=TimelessBallpark';
        },
        getFacebookHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'http://web.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=' + app_url + '/game/' + this.game.id + '?c=' + this.$root.state.user.introducing_code + '%2F&display=popup&ref=plugin&src=share_button';
        },
        getLineHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'http://line.me/R/msg/text/?' + this.makeIntroducingText() + ' ' + app_url + '/game/' + this.game.id + '?c=' + this.$root.state.user.introducing_code;
            
        },
    }
}
</script>

<style scoped>

#page-game {
    width: 90%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

th, td {
    border: none;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.teams {
    text-align: center;
}
.teams .teamname {
    display: inline-block;
    width: 35%;
    font-size: 25px;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #fff;
}
.teams .vs {
    display: inline-block;
    width: 10%;
    font-size: 25px;
    color: #ffc;
    font-weight: bold;
}
.result-label {
    text-align: center;
    margin: 0.8em auto 0.4em;
    font-size: 36px;
    color: #ffc;
}

.scoreboard table {
    table-layout: fixed;
    width: auto;
    margin: 8px auto 0;
}
.scoreboard th, .scoreboard td {
    text-align: center;
    padding: 0px;
}
.scoreboard th {
    width: 40px;
    height: 20px;
}
.scoreboard td {
    width: 40px;
    height: 40px;
    padding: 1px;
    overflow: initial;
}
.scoreboard td.teamname {
    height: 20px;
    background-color: #224;
}

.scoreboard .inning-score {
    position: relative;
    background-color: #336;
    height: 100%;
    padding: 0 5px;
    transition: .1s;
    line-height: 40px;
    cursor: cell;
}
.scoreboard .inning-score:hover {
    background-color: #55a;
}

.scoreboard .total-score {
    font-weight: bold;
    background-color: #448;
    line-height: 40px;
}

.balloon {
    position: absolute;
    z-index: 1;
    display: none;
    margin: 1.5em 0;
    padding: 7px 10px;
    width: 300px;
    color: #555;
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    left: -140px;
    top: 70%;
    z-index: 1;
    opacity: 0.97;
}
.balloon.show {
    display: inline-block;
}
.balloon:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-bottom: 12px solid #e0edff;
    opacity: 0.97;
}

.balloon .plays .play .outcount {
    color: #f30;
    font-size: 12px;
}
.balloon .plays .play .outcount-rest {
    color: #aaa;
    font-size: 12px;
}
.balloon .plays .play img {
    width: 50px;
    height: 25px;
    margin-left: 8px;
    vertical-align: middle;
}
.balloon .plays .play span {
    vertical-align: middle;
}
.balloon .plays .play .playername {
    margin-left: 8px;
}
.balloon .plays .play .result {
    margin-left: 5px;
}
.balloon .plays .play .score {
    margin-left: 8px;
}

.highlight {
    background: #fff;
    padding: 8px 12px;
    max-width: 600px;
    margin: 1em auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.highlight.team-c  { border: solid 5px #ff0000;color: #ff0000; }
.highlight.team-g  { border: solid 5px #f27900;color: #f27900; }
.highlight.team-db { border: solid 5px #0061b7;color: #0061b7; }
.highlight.team-t  { border: solid 5px #f4cc00;color: #f4cc00; }
.highlight.team-y  { border: solid 5px #1A854F;color: #1A854F; }
.highlight.team-d  { border: solid 5px #033c82;color: #033c82; }
.highlight.team-f  { border: solid 5px #00508e;color: #00508e; }
.highlight.team-h  { border: solid 5px #f4bb11;color: #f4bb11; }
.highlight.team-m  { border: solid 5px #000000;color: #000000; }
.highlight.team-l  { border: solid 5px #002054;color: #002054; }
.highlight.team-e  { border: solid 5px #840000;color: #840000; }
.highlight.team-bs { border: solid 5px #000019;color: #000019; }

.highlight ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.highlight ul li {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6em;
}

.tweet-button {
    display: inline-block;
    width: 40%;
    margin: 5px 30% 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #44bbcc;
    color: #44bbcc;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}
.tweet-button:hover {
    background-color: #44bbcc;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    color: #fff;
    transition: all .2s;
}


.statistics .label {
    font-size: 24px;
    color: #ffc;
    text-align: center;
    margin: 0.5em auto;
}

.statistics table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.statistics table thead th {
    border: 1px solid #336;
    font-size: 14px;
    font-weight: normal;
}
.statistics table thead th.player-name {
    width: 15%;
}
.statistics table tbody td {
    border: 1px solid #112;
    background-color: #336;
}

@media (max-width: 767px) { 

    .result-label {
        font-size: 30px;
    }

    .teams .teamname {
        width: 45%;
        padding: 5px 0;
        font-size: 22px;
    }

    .statistics th.result-highright, .statistics td.result-highright {
        display: none;
    }
    .statistics table thead th.player-name { width: 30%; }

    .scoreboard .inning-score {
        position: inherit;
    }
    .scoreboard table {
        position: relative;
    }
    .balloon {
        left: 0%;
        top: 110%;
        width: 90%;
        margin: 0 auto;
    }

}
</style>
