<template>
    <div id="page-howto">
        <div class="general-border">
            <h3>遊び方</h3>
            <div class="description">・試合は30分に1度自動で行われます</div>
            <div class="description">・試合の勝敗に応じて<span class="coin">COIN</span>を獲得します</div>
            <div class="description">・1シーズンに150試合が行われます</div>
            <div class="description">・シーズン終了後に選手は年をとり、一定の年齢になると引退となり試合に出場できなくなります</div>
        </div>
    </div>
</template>

