<template>
    <div id="page-index">
        <div v-if="hasTeam">
            <div class="general-border" v-if="loaded === true">
                <h2>チーム成績</h2>
                <div class="team-status">{{ $root.state.team.win }}勝 {{ $root.state.team.lose }}敗 {{ $root.state.team.draw }}分 勝率{{ winningPercentage }} {{ $root.state.team.rank }}位/{{ allTeamCount }}チーム</div>
                <div class="share-buttons">
                    <a class="button twitter" target="_blank" v-if="getTwitterHref !== ''" v-bind:href="getTwitterHref"></a>
                    <a class="button facebook" target="_blank" v-if="getFacebookHref !== ''" v-bind:href="getFacebookHref"></a>
                    <a class="button line" target="_blank" v-if="getLineHref !== ''" v-bind:href="getLineHref"></a>
                </div>
            </div>
            <div class="general-border game-info" v-if="loaded === true">
                <div class="next-game-info">次の試合 {{ nextGameDateTime }}<br />第{{ $root.state.system_param.season }}シーズン {{ $root.state.system_param.game_time }}試合目</div>
                <div class="next-game" v-if="nextOpponent !== null">VS<span class="teamname" v-on:click="$router.push('/team/' + nextOpponent.id)">{{ nextOpponent.name }}</span></div>
                <h2>最近の試合結果</h2>
                <ul class="game-results">
                    <li class="game-result" v-for="game in executedGames" v-on:click="$router.push('/game/' + game.id)">
                        <span class="game-number">{{ game.game_number }}試合目</span><span class="teamname">{{ game.opponent_team_name }}</span><span class="score">{{ game.home_team_score }}<span v-if="game.walkoff_game_flg === 1" class="walkoff-game">x</span> - {{ game.visitor_team_score }}</span><span v-if="game.result === 'win'" class="result-star win">●</span><span v-else-if="game.result === 'lose'" class="result-star lose">●</span><span v-else class="result-star draw">▲</span>
                    </li>
                </ul>
            </div>
        </div>
        <div v-else>
            <div class="general-border">
                <div class="top-description">歴代の実在選手を集めて野球チームを作る "Timeless Ballpark"</div>
                <div class="create-team scout-btn clearfix" v-on:click="makeTeam()">
                    <div class="label">ゲームをはじめる</div>
                    <div class="description">18人の初期選手を獲得します</div>
                    <div class="act-label">チームを生成する！</div>
                </div>
                <div class="clearfix">
                    <div class="to-howto" v-on:click="$router.push('/howto')">→どんなゲーム？</div>
                </div>
            </div>

            <div class="general-border game-info" v-if="loaded === true">
                <div class="next-game-info">次の試合 {{ nextGameDateTime }}<br />第{{ $root.state.system_param.season }}シーズン {{ $root.state.system_param.game_time }}試合目</div>
                <h2>最近の試合結果</h2>
                <div class="to-ranking" v-on:click="$router.push('/ranking')">→ランキング</div>
                <ul class="game-results all-team">
                    <li class="game-result" v-for="game in executedGames" v-on:click="$router.push('/game/' + game.id)">
                        <span class="game-number">{{ game.game_number }}試合目</span><span class="teamname">{{ game.home_team.name }}</span><span class="score">{{ game.home_team_score }}<span v-if="game.walkoff_game_flg === 1" class="walkoff-game">x</span> - {{ game.visitor_team_score }}</span><span class="teamname">{{ game.visitor_team.name }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loaded: false
        }
    },
    created() {
        Promise.all([
            this.$root.updateRanking(),
            this.$root.updateGames()
        ])
        .then((res) => {
            this.loaded = true;
        });
    },
    methods: {
        makeTeam() {
            this.$http.post('/api/team', {
                team_type: 999
            })
            .then(res => {
                this.$root.state.necessary_welcome_modal = true;
                return this.$root.updateTeam()
            })
            .then(res => {
                this.$router.push('/order');
            });
        },
        makeIntroducingText() {
            let team = this.$root.state.team;
            if (!team) return '';
            return team.name + 'は現在' + team.win + '勝' + team.lose + '敗で' + this.allTeamCount + 'チーム中' + team.rank + '位です！';
        }
    },
    computed: {
        hasTeam() {
            return !_.isEmpty(this.$root.state.team);
        },
        getTwitterHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'https://twitter.com/intent/tweet?url=' + app_url + '/team/' + this.$root.state.team.id + '?c=' + this.$root.state.user.introducing_code + '&text=' + this.makeIntroducingText() + '&hashtags=TimelessBallpark';
        },
        getFacebookHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'http://web.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=' + app_url + '/team/' + this.$root.state.team.id + '?c=' + this.$root.state.user.introducing_code + '%2F&display=popup&ref=plugin&src=share_button';
        },
        getLineHref() {
            if (!_.has(this.$root, 'state.user.introducing_code')) return '';
            return 'http://line.me/R/msg/text/?' + this.makeIntroducingText() + ' ' + app_url + '/team/' + this.$root.state.team.id + '?c=' + this.$root.state.user.introducing_code;
            
        },
        nextOpponent() {
            let next_game = _.chain(this.$root.state.games_response.games).filter((game) => game.executed === 0).head().value();
            if (_.isEmpty(next_game)) return null;

            return (next_game.home_team.id === this.$root.state.team.id) ? next_game.visitor_team : next_game.home_team;
        },
        executedGames() {
            let games = _.filter(this.$root.state.games_response.games, (game) => game.executed === 1);
            if (_.isEmpty(this.$root.state.team)) return games;

            // 各gameに、"oppoenent_team_name"と"result"付与してから返す
            games = _.map(games, (game) => {
                let user_team_type = (game.home_team_id === this.$root.state.team.id) ? 'home' : 'visitor';
                let opponent_team_type = (user_team_type === 'home') ? 'visitor' : 'home';

                game.opponent_team_name = game[opponent_team_type + '_team'].name;
                if (game.home_team_score === game.visitor_team_score) {
                    game.result = 'draw';
                } else {
                    game.result = (game[user_team_type + '_team_score'] > game[opponent_team_type + '_team_score']) ? 'win' : 'lose';
                }
                return game;
            });
            return games;
        },
        winningPercentage() {
            return this.formatAvg(this.$root.state.team.win / (this.$root.state.team.win + this.$root.state.team.lose));
        },
        allTeamCount() {
            return this.$root.state.ranking_response.ranking.length;
        },
        nextGameDateTime() {
            let last_game = _.chain(this.$root.state.games_response.games).filter((game) => game.executed === 1).head().value();
            if (_.isEmpty(last_game)) return '';
            return  moment(last_game.created_at).add(60, 'minutes').format('MM/DD HH:mm ごろ');
        },
    }
}
</script>
