<template>
    <div id="page-menu">
        <div class="general-border">
            <ul class="menu clearfix">
                <li class="home" v-on:click="$router.push('/')"><div class="label">ホーム</div></li>
                <li class="order" v-on:click="$router.push('/order')" v-if="!_.isEmpty($root.state.team)"><div class="label">オーダー</div></li>
                <li class="scout" v-on:click="$router.push('/scout')" v-if="!_.isEmpty($root.state.team)"><div class="label">選手獲得</div></li>
                <li class="directory" v-on:click="$router.push('/directory')" v-if="!_.isEmpty($root.state.team)"><div class="label">選手名鑑</div></li>
                <li class="friend" v-on:click="$router.push('/friend')" v-if="!_.isEmpty($root.state.user)"><div class="label">友達紹介</div></li>
                <li class="ranking" v-on:click="$router.push('/ranking')"><div class="label">ランキング</div></li>
                <li class="teamname" v-on:click="$router.push('/teamname')" v-if="!_.isEmpty($root.state.team) && !_.isEmpty($root.state.user)"><div class="label">チーム名変更</div></li>
                <li class="sns" v-on:click="$router.push('/sns')" v-if="!_.isEmpty($root.state.user)"><div class="label">SNS連携</div></li>
                <li class="team" v-on:click="$router.push('/team')" v-if="!_.isEmpty($root.state.team)"><div class="label">マイチーム</div></li>
                <li class="howto" v-on:click="$router.push('/howto')"><div class="label">遊び方</div></li>
                <li class="logout" v-on:click="logout()" v-if="!_.isEmpty($root.state.user)"><div class="label">ログアウト</div></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (this.$root.state.team !== null && this.$root.state.user === null) {
            this.$('#login-reminder').delay(500).fadeIn(1000);
        }
    },
    methods: {
        logout() {
            this.$http.post('/api/auth/logout', {})
            .then(res => {
                if (res.data.successful !== true) throw 'ログアウトに失敗しました。';
                return Promise.all([this.$root.updateUser(), this.$root.updateTeam()]);
            })
            .then(res => {
                this.$router.push('/')
            })
            .catch(function(e) {
                  console.log(e);
            });
        }
    }
}
</script>
