<template>
    <div id="page-order">

        <div class="main" v-if="screen_type === 'main' && loaded === true">
            <div class="fixed">
                <div class="selector clearfix">
                    <div class="batter" v-bind:class="{ active: isBP('batter')}" v-on:click="setBP('batter')">野手</div>
                    <div class="pitcher" v-bind:class="{ active: isBP('pitcher')}" v-on:click="setBP('pitcher')">投手</div>
                </div>
                <div class="player-detail general-border">
                    <div v-if="_.has(displayed_player, 'is_fielder') && displayed_player.is_fielder === true">
                        {{ displayed_player.name }} <span class="rate">★{{ displayed_player.rate }}</span> {{ displayed_player.age }}歳 守備位置:{{ _.map(displayed_player.positions, toPositionStr).join(',') }} <br />
                        <span v-if="displayed_player.has_batting_result">
                        {{ displayed_player.player_batting_result.at_bats }}打数{{ displayed_player.player_batting_result.hits }}安打 OPS{{ formatAvg(displayed_player.player_batting_result.ops) }}<br />
                        出塁率{{ formatAvg(displayed_player.player_batting_result.obp) }} {{ displayed_player.player_batting_result.stolen_base }}盗塁 {{ displayed_player.player_batting_result.sacrifice_bunt }}犠打 {{ displayed_player.player_batting_result.strikeout }}三振
                        </span>
                    </div>
                    <div v-else-if="_.has(displayed_player, 'is_pitcher') && displayed_player.is_pitcher === true">
                        {{ displayed_player.name }} <span class="rate">★{{ displayed_player.rate }}</span> {{ displayed_player.age }}歳 <br />
                        <span v-if="displayed_player.has_pitching_result">
                        {{ formatGetout(displayed_player.player_pitching_result.getout) }}投球回 {{ displayed_player.player_pitching_result.allowed_homeruns }}被本塁打 WHIP{{ displayed_player.player_pitching_result.whip }}<br />
                        {{ displayed_player.player_pitching_result.strikeouts }}奪三振 {{ displayed_player.player_pitching_result.bases_on_balls }}与四球 {{ displayed_player.player_pitching_result.holds }}ホールド {{ displayed_player.player_pitching_result.saves }}セーブ
                        </span>
                    </div>
                    <div v-else-if="selected.type === 'player'">
                        入れ替える選手を選択してください
                    </div>
                    <div v-else-if="selected.type === 'position'">
                        入れ替える守備位置を選択してください
                    </div>
                </div>
            </div>
            <div class="starting-order">
                <div class="batters" v-if="isBP('batter')">
                    <h3>スターティングオーダー</h3>
                    <div class="batter" v-for="item in team_orders[order_type].starting_order" v-if="item.position !== 'pitcher'">
                        <span class="batting-order">{{ item.batting_order }}</span><span class="position" v-bind:class="{ selected: isSelected('position', item.position), mismatched: isMismatched(item.position) }" v-on:click="selectPosition(item.position)">{{ toPositionStr(item.position) }}</span><span class="name" v-bind:class="{ selected: isSelected('player', item.player_id)}" v-on:click="selectPlayer(item.player_id)">{{ possessed_players[item.player_id].name }} ({{ possessed_players[item.player_id].age }})</span><span class="result" v-if="possessed_players[item.player_id].player_batting_result.avg" v-on:click="showPlayerDetail(item.player_id)">{{ formatAvg(possessed_players[item.player_id].player_batting_result.avg) }} {{ possessed_players[item.player_id].player_batting_result.homerun }}本 {{ possessed_players[item.player_id].player_batting_result.rbi }}点</span><span v-else class="result" v-on:click="showPlayerDetail(item.player_id)">出場なし</span><span class="changing-button" v-on:click.stop="showToChangeToFarm('batter', item.player_id)">入替</span>
                    </div>
                    <div class="batter" v-else>
                        <span class="batting-order">{{ item.batting_order }}</span><span class="position">{{ toPositionStr(item.position) }}</span><span class="name">（投手）</span>
                    </div>
                    <h3>控えメンバー</h3>
                    <div class="batter" v-for="item in filterRoles('batter')">
                        <span class="role">{{ toRoleStr(item.role) }}</span><span class="name" v-bind:class="{ selected: isSelected('player', item.player_id)}" v-on:click="selectPlayer(item.player_id)">{{ possessed_players[item.player_id].name }} ({{ possessed_players[item.player_id].age }})</span><span class="result" v-if="possessed_players[item.player_id].player_batting_result.avg" v-on:click="showPlayerDetail(item.player_id)">{{ formatAvg(possessed_players[item.player_id].player_batting_result.avg) }} {{ possessed_players[item.player_id].player_batting_result.homerun }}本 {{ possessed_players[item.player_id].player_batting_result.rbi }}点</span><span v-else class="result" v-on:click="showPlayerDetail(item.player_id)">出場なし</span><span class="changing-button" v-on:click.stop="showToChangeToFarm('batter', item.player_id)">入替</span>
                    </div>
                    <div class="add-bench" v-if="filterRoles('batter').length < 7" v-on:click.stop="showToChangeToFarm('batter', false)">控えメンバーを追加する（最大７人まで）</div>
                </div>
                <div class="pitchers" v-else>
                    <h3>先発ローテーション</h3>
                    <div class="pitcher" v-for="item in team_orders[order_type].starter_pitchers">
                        <span class="starter-order">{{ item.order }}番手</span><span class="name disabled">{{ possessed_players[item.player_id].name }} ({{ possessed_players[item.player_id].age }})</span><span class="result" v-if="possessed_players[item.player_id].player_pitching_result.era" v-on:click="showPlayerDetail(item.player_id)">{{ possessed_players[item.player_id].player_pitching_result.era }} {{ possessed_players[item.player_id].player_pitching_result.wins }}勝 {{ possessed_players[item.player_id].player_pitching_result.losses }}敗</span><span v-else class="result" v-on:click="showPlayerDetail(item.player_id)">出場なし</span><span class="changing-button" v-on:click.stop="showToChangeToFarm('pitcher', item.player_id)">入替</span>
                    </div>
                    <h3>リリーフ投手</h3>
                    <div class="pitcher" v-for="item in filterRoles('pitcher')">
                        <span class="role">{{ toRoleStr(item.role) }}</span><span class="name" v-bind:class="{ selected: isSelected('player', item.player_id)}" v-on:click="selectPlayer(item.player_id)">{{ possessed_players[item.player_id].name }} ({{ possessed_players[item.player_id].age }})</span><span class="result" v-if="possessed_players[item.player_id].player_pitching_result.era" v-on:click="showPlayerDetail(item.player_id)">{{ possessed_players[item.player_id].player_pitching_result.era }} {{ possessed_players[item.player_id].player_pitching_result.wins }}勝 {{ possessed_players[item.player_id].player_pitching_result.losses }}敗</span><span v-else class="result" v-on:click="showPlayerDetail(item.player_id)">出場なし</span><span class="changing-button" v-on:click.stop="showToChangeToFarm('pitcher', item.player_id)">入替</span>
                    </div>
                    <div class="add-bench" v-if="filterRoles('pitcher').length < 7" v-on:click.stop="showToChangeToFarm('pitcher', false)">リリーフ投手を追加する（最大７人まで）</div>
                </div>
            </div>
        </div>

        <div class="sub" v-if="screen_type == 'sub'">
            <div class="instruction" v-if="change_to_farm_player_id !== false">[{{ changeToFarmPlayerPosition }}]{{ possessed_players[change_to_farm_player_id].name }}を誰と入れ替えますか？</div>
            <div class="instruction" v-else>誰をベンチに入れますか？</div>

            <div class="general-border">
                <div class="controller clearfix">
                    <div class="cancel" v-on:click.stop="showScreen('main')"></div>
                    <div class="putout" v-on:click.stop="putoutToFarm()" v-if="!_.isEmpty(_.find(team_orders[order_type].bench_player_roles, (item) => item.player_id === change_to_farm_player_id))">ベンチ外へ</div>
                    <div class="search" v-on:click.stop="showModal('search')"></div>
                    <div class="sort" v-on:click.stop="showModal('sort')"></div>
                </div>
                <div class="players clearfix">
                    <div class="player" v-for="player in farmPlayers" v-bind:class="{ disabled: unableToPitch(player.id) }" v-on:click="selectFarmPlayer(player.id)">
                        <div><span class="name">{{ player.name }}</span></div>
                        <div class="result" v-if="player.is_pitcher && player.has_pitching_result"><span>{{ player.player_pitching_result.era }} {{ player.player_pitching_result.wins }}勝 {{ player.player_pitching_result.losses }}敗 <br />{{ player.player_pitching_result.holds }}H {{ player.player_pitching_result.saves }}S {{ player.age }}歳</span></div>
                        <div class="result" v-else-if="player.is_fielder && player.has_batting_result"><span>{{ formatAvg(player.player_batting_result.avg) }} {{ player.player_batting_result.homerun }}本 {{ player.player_batting_result.rbi }}点 <br />OPS{{ formatAvg(player.player_batting_result.ops) }} {{ player.age }}歳</span></div>
                        <div class="result" v-else><span>出場成績なし</span></div>
                        <div class="rate">★{{ player.rate }}</div>
                        <div class="unable-to-pitch-tag" v-if="unableToPitch(player.id)">あと{{ restricted_starter_counts[player.id] }}試合登板不可</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal search" style="display: none;">
            <h3>絞り込み</h3>
            <div v-if="change_to_farm_screen_type === 'batter'">
                <div class="formset clearfix mt-16">
                    <div class="label checkbox">守備位置</div>
                    <div class="inputs">
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="catcher" id="catcher"><label for="catcher">捕手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="first" id="first"><label for="first">一塁手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="second" id="second"><label for="second">二塁手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="third" id="third"><label for="third">三塁手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="shortstop" id="shortstop"><label for="shortstop">遊撃手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="left" id="left"><label for="left">左翼手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="center" id="center"><label for="center">中堅手</label>
                        <input type="checkbox" v-model="search_form.positions" name="positions" value="right" id="right"><label for="right">右翼手</label>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label checkbox">規定打席到達</div>
                    <div class="inputs">
                        <input type="checkbox" v-model="search_form.regulation_at_bats_flag" name="regulation_at_bats_flag" value="regulation_at_bats_flag" id="regulation_at_bats_flag"><label for="regulation_at_bats_flag"></label>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">ランク</div>
                    <div class="inputs">
                        <select name="rate" v-model="search_form.rate">
                            <option value=""></option>
                            <option value="1">★1以上</option>
                            <option value="2">★2以上</option>
                            <option value="3">★3以上</option>
                            <option value="4">★4以上</option>
                            <option value="5">★5以上</option>
                            <option value="6">★6以上</option>
                            <option value="7">★7以上</option>
                            <option value="8">★8以上</option>
                            <option value="9">★9以上</option>
                            <option value="10">★10以上</option>
                        </select>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">打率</div>
                    <div class="inputs">
                        <select name="avg" v-model="search_form.avg">
                            <option value=""></option>
                            <option value="0.25">.250以上</option>
                            <option value="0.275">.275以上</option>
                            <option value="0.3">.300以上</option>
                            <option value="0.325">.325以上</option>
                        </select>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">本塁打</div>
                    <div class="inputs select-wrap">
                        <select name="homerun" v-model="search_form.homerun">
                            <option value=""></option>
                            <option value="10">10本以上</option>
                            <option value="20">20本以上</option>
                            <option value="30">30本以上</option>
                            <option value="40">40本以上</option>
                        </select>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">OPS</div>
                    <div class="inputs">
                        <select name="ops" v-model="search_form.homerun">
                            <option value=""></option>
                            <option value="0.7">.700以上</option>
                            <option value="0.8">.800以上</option>
                            <option value="0.9">.900以上</option>
                            <option value="1.0">1.000以上</option>
                        </select>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="formset clearfix">
                    <div class="label checkbox">規定投球回到達</div>
                    <div class="inputs">
                        <input type="checkbox" name="regulation_at_bats_flag" value="regulation_at_bats_flag" id="regulation_at_bats_flag"><label for="regulation_at_bats_flag"></label>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">ランク</div>
                    <div class="inputs">
                        <select name="rate" v-model="search_form.rate">
                            <option value=""></option>
                            <option value="1">★1以上</option>
                            <option value="2">★2以上</option>
                            <option value="3">★3以上</option>
                            <option value="4">★4以上</option>
                            <option value="5">★5以上</option>
                            <option value="6">★6以上</option>
                            <option value="7">★7以上</option>
                            <option value="8">★8以上</option>
                            <option value="9">★9以上</option>
                            <option value="10">★10以上</option>
                        </select>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">防御率</div>
                    <div class="inputs">
                        <select name="era" v-model="search_form.era">
                            <option value=""></option>
                            <option value="5.0">5.00以下</option>
                            <option value="4.0">4.00以下</option>
                            <option value="3.0">3.00以下</option>
                            <option value="2.0">2.00以下</option>
                        </select>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">勝利</div>
                    <div class="inputs select-wrap">
                        <select name="wins" v-model="search_form.wins">
                            <option value=""></option>
                            <option value="5">5勝以上</option>
                            <option value="10">10勝以上</option>
                            <option value="15">15勝以上</option>
                            <option value="20">20勝以上</option>
                        </select>
                    </div>
                </div>
                <div class="formset clearfix">
                    <div class="label select">WHIP</div>
                    <div class="inputs">
                        <select name="whip" v-model="search_form.whip">
                            <option value=""></option>
                            <option value="1.5">1.5以下</option>
                            <option value="1.4">1.4以下</option>
                            <option value="1.3">1.3以下</option>
                            <option value="1.2">1.2以下</option>
                            <option value="1.1">1.1以下</option>
                            <option value="1.0">1.0以下</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="act-search" v-on:click="$.modal.close()">閉じる</div>
        </div>
        <div class="modal sort" style="display: none;">
            <h3>並び替え</h3>
            <div class="formset clearfix mt-16">
                <div class="label select">第１優先</div>
                <div class="inputs">
                    <select name="sort_priority_1" v-model="sort_form.sort_priority_1">
                        <option value=""></option>
                        <option value="rate">ランクの高い順</option>
                        <option value="name">名前順</option>
                        <option value="ops">OPSの高い順</option>
                    </select>
                </div>
            </div>
            <div class="formset clearfix">
                <div class="label select">第２優先</div>
                <div class="inputs">
                    <select name="sort_priority_2" v-model="sort_form.sort_priority_2">
                        <option value=""></option>
                        <option value="rate">ランクの高い順</option>
                        <option value="name">名前順</option>
                        <option value="ops">OPSの高い順</option>
                    </select>
                </div>
            </div>
            <div class="formset clearfix">
                <div class="label select">第３優先</div>
                <div class="inputs">
                    <select name="sort_priority_3" v-model="sort_form.sort_priority_3">
                        <option value=""></option>
                        <option value="rate">ランクの高い順</option>
                        <option value="name">名前順</option>
                        <option value="ops">OPSの高い順</option>
                    </select>
                </div>
            </div>
            <div class="act-sort" v-on:click="$.modal.close()">閉じる</div>
        </div>
        <div class="modal welcome" style="display: none;">
            <h3>ゲームスタート</h3>
            <div class="description">初期メンバー18名を獲得し、チームが作成されました！</div>
            <ul>
                <li>・試合は30分に1度、自動で行われます</li>
                <li>・試合により得られる<span class="coin">COIN</span>で新たに選手を獲得できます</li>
                <li>・まずは獲得した初期メンバー・オーダーを確認しよう！</li>
            </ul>
            <div class="act-sort" v-on:click="checkedWelcomeModal()">OK</div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            loaded: false,
            screen_type: 'main',
            order_type: null,
            batter_or_pitcher: 'batter',
            possessed_players: {},
            team_orders: null,
            starter_restriction_map: null,
            restricted_starter_counts: {},
            selected: { type: null, data: {} },
            displayed_player: null,
            change_to_farm_player_id: null, // 2軍に落とす選手IDが入る。誰も落とさない単なる追加の場合は'false'を入れる
            change_to_farm_screen_type: null, // "batter"or"pitcher"
            search_form: { rate: null, positions: [], avg: null, homerun: null, ops: null, era: null, wins: null, whip: null },
            sort_form: { sort_priority_1: 'rate', sort_priority_2: null, sort_priority_3: null },
        }
    },
    mounted() {
        this.team_orders = {
            [this.constant.team_order.order_type.with_dh]: null
        };
        this.order_type = this.constant.team_order.order_type.with_dh;

        Promise.all([
            this.getPossessedPlayers(),
            this.getTeamOrders(),
        ])
        .then(() => {
            this.loaded = true;
            if (this.$root.state.necessary_welcome_modal === true) {
                this.showModal('welcome');
                if (this.$root.state.user === null) this.$('#login-reminder').delay(15000).fadeIn(1000);
            }
        });
    },
    methods: {
        getPossessedPlayers() {
            return this.$http.get('/api/active_player')
            .then(res => {
                _.each(res.data, (player) => {
                    this.possessed_players[player.id] = player;
                });
                return Promise.resolve();
            });
        },
        getTeamOrders() {
            return this.$http.get('/api/team_order')
            .then(res => {
                _.each(res.data.team_orders, (team_order) => {
                    if (!_.has(this.team_orders, team_order.order_type)) return;
                    this.team_orders[team_order.order_type] = JSON.parse(team_order.content);
                });
                // 登板不可投手およびその残り登板不可日数を記録
                this.starter_restriction_map = res.data.starter_restriction_map;
                for (let i = 1; i <= 5; i++) {
                    let key = 'order_' + i;
                    _.each(this.starter_restriction_map[key], (restricted_starter_player_id) => {
                        if (_.has(this.restricted_starter_counts, restricted_starter_player_id)) {
                            this.restricted_starter_counts[restricted_starter_player_id]++;
                        } else {
                            this.restricted_starter_counts[restricted_starter_player_id] = 1;
                        }
                    });
                }
                return Promise.resolve();
            });
        },
        postTeamOrder() {
            if (this.loaded !== true) return false;
            if (this.mismatchedPositions.length !== 0) return false;
            this.$http.post('/api/team_order', { order_type: this.order_type, content: this.team_orders[this.order_type] } )
            .then(res => {
            });
        },
        checkedWelcomeModal() {
            this.$root.state.necessary_welcome_modal = false;
            this.$.modal.close();
        },
        showToChangeToFarm(batter_or_pitcher, player_id) {
            this.change_to_farm_screen_type = batter_or_pitcher;
            this.change_to_farm_player_id = player_id;
            // 検索フォームの初期設定
            let starting_order_item = _.find(this.team_orders[this.order_type].starting_order, (item) => item.player_id === player_id);
            if (!_.isEmpty(starting_order_item) && starting_order_item.position !== 'designated_hitter') this.search_form.positions = [starting_order_item.position];

            this.showScreen('sub');
        },
        putoutToFarm() {
            // 選手をベンチからファームに出す
            let delkey = _.findKey(this.team_orders[this.order_type].bench_player_roles, (item) => item.player_id === this.change_to_farm_player_id);
            this.team_orders[this.order_type].bench_player_roles.splice(delkey, 1);
            this.showScreen('main');
        },
        selectFarmPlayer(player_id) {
            if (this.unableToPitch(player_id)) return false;

            // this.change_to_farm_player_idを二軍に落とし、player_idを代わりに昇格させるように、入れ替える
            if (this.change_to_farm_player_id !== false) {
                // 二軍との入れ替えの場合
                let to_farm_player;
                _.each(this.team_orders[this.order_type], (items, order_key) => {
                    to_farm_player = _.find(items, (item) => item.player_id === this.change_to_farm_player_id);
                    if (!_.isEmpty(to_farm_player)) return false;
                });
                to_farm_player.player_id = player_id;
            } else {
                // 控えに選手を追加する場合
                let role = (this.change_to_farm_screen_type === 'batter') ? 'utility' : 'long_relief';
                this.team_orders[this.order_type].bench_player_roles.push({ role: role, player_id: player_id });
            }
            this.showScreen('main');
        },
        setBP(batter_or_pitcher) {
            this.resetSelectedData();
            this.batter_or_pitcher = batter_or_pitcher;
        },
        isBP(batter_or_pitcher) {
            return this.batter_or_pitcher === batter_or_pitcher;
        },
        filterRoles(batter_or_pitcher) {
            return _.filter(this.team_orders[this.order_type].bench_player_roles, (role_item) => {
                if (batter_or_pitcher === 'batter') {
                    return _.indexOf(this.constant.batter_roles, role_item.role) !== -1;
                } else {
                    return _.indexOf(this.constant.pitcher_roles, role_item.role) !== -1;
                }
            });
        },
        initSelected() {
            this.selected = { type: null, data: {} };
        },
        selectPosition(position) {
            if (this.selected.type !== 'position') {
                // 最初の選択
                this.setSelectedData('position', { position: position });
            } else {
                // position入れ替え
                let starting_order = this.team_orders[this.order_type].starting_order;
                let from_key = _.findKey(starting_order, (order_item) => order_item.position === this.selected.data.position);
                let to_key = _.findKey(starting_order, (order_item) => order_item.position === position);
                let tmp_position = starting_order[to_key].position;
                starting_order[to_key].position = starting_order[from_key].position;
                starting_order[from_key].position = tmp_position;
                this.resetSelectedData();
            }
        },
        unableToPitch(player_id) {
            if (this.change_to_farm_screen_type === 'batter') return false; // 野手変更時は登板不可とかないのでfalse

            let starter_item = _.find(this.team_orders[this.order_type].starter_pitchers, (item) => item.player_id === this.change_to_farm_player_id);
            if (_.isEmpty(starter_item)) return _.indexOf(this.starter_restriction_map.bench, player_id) !== -1 // 先発入れ替えではない＝ベンチ投手入れ替え

            let key = 'order_' + starter_item.order;
            return _.indexOf(this.starter_restriction_map[key], player_id) !== -1;
        },
        selectPlayer(player_id) {
            let target_order = (this.batter_or_pitcher === 'batter') ? this.team_orders[this.order_type].starting_order : this.team_orders[this.order_type].starter_pitchers;
            let bench_player_roles = this.team_orders[this.order_type].bench_player_roles;

            let existsInBench = (player_id) => !_.isEmpty(_.find(bench_player_roles, (role) => role.player_id === player_id)); // player_idの選手がベンチにいるかどうか
            let exists_in_bench = existsInBench(player_id);
            let sort_index = (exists_in_bench) ? _.findKey(bench_player_roles, (bench_item) => bench_item.player_id === player_id) : _.findKey(target_order, (order_item) => order_item.player_id === player_id);

            if (this.selected.type !== 'player') {
                // 最初の選択
                this.setSelectedData('player', { player_id: player_id, exists_in_bench: exists_in_bench, sort_index: sort_index});
            } else {
                // player(order_item)入れ替え
                // player_idとroleを入れ替える
                let from_obj = (this.selected.data.exists_in_bench) ? bench_player_roles[this.selected.data.sort_index] : target_order[this.selected.data.sort_index];
                let to_obj = (exists_in_bench) ? bench_player_roles[sort_index] : target_order[sort_index];
                let tmp_player_id = from_obj.player_id;
                let tmp_role = from_obj.role;

                from_obj.player_id = to_obj.player_id;
                if (!_.isEmpty(to_obj.role)) from_obj.role = to_obj.role;
                to_obj.player_id = tmp_player_id;
                if (!_.isEmpty(tmp_role)) to_obj.role = tmp_role;

                if (this.batter_or_pitcher === 'batter' && this.selected.data.exists_in_bench === false && exists_in_bench === false) {
                    // スタメン選手同士の場合は守備位置も入れ替え
                    let tmp_position = from_obj.position;
                    from_obj.position = to_obj.position;
                    to_obj.position = tmp_position;
                }

                this.resetSelectedData();
            }
        },
        selectRole(role, player_id) {
            let bench_player_roles = this.team_orders[this.order_type].bench_player_roles;

            if (this.selected.type !== 'role') {
                // 最初の選択
                this.setSelectedData('role', { player_id: player_id });
                $('.modal.role-selector').modal({ fadeDuration: 100 });
            } else {
                // role変更 
                let sort_index = _.findKey(bench_player_roles, (role_item) => role_item.player_id === this.selected.data.player_id);
                bench_player_roles[sort_index].role = role;
                $.modal.close();
                this.resetSelectedData();
            }
        },
        setSelectedData(type, data) {
            this.selected.type = type;
            this.selected.data = data;
        },
        isSelected(type, tmp_data) {
            var matched_data;
            switch (type) {
                case 'position':
                    matched_data = this.selected.data.position === tmp_data;
                    break;
                case 'player':
                    matched_data = this.selected.data.player_id === tmp_data;
                    break;
                case 'role':
                    matched_data = this.selected.data.role === tmp_data;
                    break;
            }
            return this.selected.type === type && matched_data === true;
        },
        resetSelectedData() {
            this.selected = { type: null, data: {} };
        },
        showPlayerDetail(player_id) {
            if (_.has(this.possessed_players, player_id)) this.displayed_player = this.possessed_players[player_id];
        },
        isMismatched(position) {
            return _.indexOf(this.mismatchedPositions, position) !== -1;
        }
    },
    computed: {
        farmPlayers() {
            let first_team_player_ids = _.union(
                _.map(_.filter(this.team_orders[this.order_type].starting_order, (item) => _.has(item, 'player_id')), (item) => item.player_id),
                _.map(this.team_orders[this.order_type].starter_pitchers, (item) => item.player_id),
                _.map(this.team_orders[this.order_type].bench_player_roles, (item) => item.player_id)
            ); // 一軍所属の選手IDリスト
            // 二軍選手一覧を返す
            let players = _.filter(this.possessed_players, (player) => _.indexOf(first_team_player_ids, player.id) === -1 );

            // 野手か投手か絞り込み
            players = (this.change_to_farm_screen_type === 'batter') ? _.filter(players, (player) => player.is_fielder) : _.filter(players, (player) => player.is_pitcher);

            // 検索フォームの条件に応じて絞り込み
            if (this.change_to_farm_screen_type === 'batter') {
                if (!_.isEmpty(this.search_form.positions)) players = _.filter(players, (player) => _.intersection(player.positions, this.search_form.positions).length > 0);
                if (!_.isEmpty(this.search_form.rate)) players = _.filter(players, (player) => player.rate >= this.search_form.rate);
                if (!_.isEmpty(this.search_form.avg)) players = _.filter(players, (player) => player.player_batting_result.avg >= this.search_form.avg);
                if (!_.isEmpty(this.search_form.homerun)) players = _.filter(players, (player) => player.player_batting_result.homerun >= this.search_form.homerun);
                if (!_.isEmpty(this.search_form.ops)) players = _.filter(players, (player) => player.player_batting_result.ops >= this.search_form.ops);
            } else {
                if (!_.isEmpty(this.search_form.rate)) players = _.filter(players, (player) => player.rate >= this.search_form.rate);
                if (!_.isEmpty(this.search_form.era)) players = _.filter(players, (player) => player.player_pitching_result.era <= this.search_form.era);
                if (!_.isEmpty(this.search_form.wins)) players = _.filter(players, (player) => player.player_pitching_result.wins >= this.search_form.wins);
                if (!_.isEmpty(this.search_form.whip)) players = _.filter(players, (player) => player.player_pitching_result.whip <= this.search_form.whip);
            }

            // 並び替えフォーム内容に従って並び替え
            const sort_by_map = { rate: 'rate', name: 'name', ops: 'player_batting_result.ops' };
            const orders_map = { rate: 'desc', name: 'asc', ops: 'desc' };
            let sort_by = [];
            let orders = [];
            if (!_.isEmpty(this.sort_form.sort_priority_1)) { sort_by.push(sort_by_map[this.sort_form.sort_priority_1]);orders.push(orders_map[this.sort_form.sort_priority_1]); }
            if (!_.isEmpty(this.sort_form.sort_priority_2)) { sort_by.push(sort_by_map[this.sort_form.sort_priority_2]);orders.push(orders_map[this.sort_form.sort_priority_2]); }
            if (!_.isEmpty(this.sort_form.sort_priority_3)) { sort_by.push(sort_by_map[this.sort_form.sort_priority_3]);orders.push(orders_map[this.sort_form.sort_priority_3]); }
            players = _.orderBy(players, sort_by, orders);

            return players;
        },
        changeToFarmPlayerPosition() {
            if (this.change_to_farm_player_id === false) return '';
            let item;

            item = _.find(this.team_orders[this.order_type].bench_player_roles, (item) => item.player_id === this.change_to_farm_player_id);
            if (_.has(item, 'role')) return this.toRoleStr(item.role);

            if (this.change_to_farm_screen_type === 'batter') {
                item = _.find(this.team_orders[this.order_type].starting_order, (item) => item.player_id === this.change_to_farm_player_id);
                if (_.has(item, 'position')) return this.toPositionLabel(item.position);
            } else {
                item = _.find(this.team_orders[this.order_type].starter_pitchers, (item) => item.player_id === this.change_to_farm_player_id);
                if (_.has(item, 'order')) return '先発' + item.order + '番手';
            }
            return '';
        },
        mismatchedPositions() {
            // 守備位置が誤っている
            return _.chain(this.team_orders[this.order_type].starting_order)
                                        .filter((item) => _.indexOf(['pitcher', 'designated_hitter'], item.position) === -1 && _.indexOf(this.possessed_players[item.player_id].positions, item.position) === -1)
                                        .map(item => item.position)
                                        .value();
        },
    },
    watch: {
        team_orders: {
            handler: function() {
                this.postTeamOrder();
            },
            deep:true
        }
    }
}
</script>
