<template>
    <div id="page-ranking">
        <div class="general-border">
            <h3>ランキング</h3>

            <div class="paginator head">
                <div class="page-line" v-if="mileStones">
                    <span v-for="number in mileStones"><span class="number-wrap"><span class="number" v-on:click="toPage(number)">{{ number }}</span></span><span class="elipsis" v-if="number !== max_page">…</span></span>
                </div>
                <div class="controller">
                    <div class="prev-10" v-on:click="toPrevPage(10)"></div>
                    <div class="prev-1" v-on:click="toPrevPage(1)"></div>
                    <div class="now-page">{{ now_page }}ページ目</div>
                    <div class="next-1" v-on:click="toNextPage(1)"></div>
                    <div class="next-10" v-on:click="toNextPage(10)"></div>
                </div>
            </div>

            <table v-if="loaded === true">
                <thead>
                    <tr>
                        <th class="rank">順位</th><th class="teamname">チーム名</th><th class="win">勝</th><th class="lose">敗</th><th class="draw">分</th><th class="level">レベル</th><th class="sum-rate">オーダー<br /><span class="rate">★</span>合計</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in ranking">
                        <td>{{ item.rank }}</td><td class="teamname" v-on:click="$router.push('/team/' + item.team_id)">{{ item.name }}</td><td>{{ item.win }}</td><td>{{ item.lose }}</td><td>{{ item.draw }}</td><td>{{ item.level }}</td><td><span class="rate">★{{ item.rate }}</span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loaded: false,
            per_page: 10,
            now_page: 1,
            max_page: null,
        }
    },
    created() {
        this.$root.updateRanking()
        .then((res) => {
            this.loaded = true;
            this.updateMaxPage();
        });
    },
    methods: {
        toPrevPage(page_count) { 
            let page = this.now_page - page_count;
            if (page < 1) page = 1;
            this.now_page = page;
        },
        toNextPage(page_count) {
            let page = this.now_page + page_count;
            if (page > this.max_page) page = this.max_page;
            this.now_page = page;
        },
        toPage(page) {
            if (page < 0 || page > this.max_page) return false;
            this.now_page = page;
        },
        updateMaxPage() {
            let max_count = this.$root.state.ranking_response.ranking.length;
            this.max_page = Math.ceil(max_count / this.per_page);
        },
    },
    computed: {
        mileStones() {
            return this.makePaginatorMilestone(this.max_page);
        },
        ranking() {
            let max_count = this.$root.state.ranking_response.ranking.length;
            let start_count = (this.now_page - 1) * this.per_page + 1;
            let end_count = start_count + this.per_page - 1;
            if (end_count > max_count) end_count = max_count;
            return _.orderBy(this.$root.state.ranking_response.ranking, 'rank').slice(start_count - 1, end_count);
        }
    },
}
</script>
