<template>
    <div id="page-scout">
        <div class="general-border">
            <div class="scout-btn normal-scout clearfix" v-bind:class="{ disabled: !hasCoin(100) }" v-on:click="scout('normal', 100)">
                <div class="label">選手スカウト</div>
                <div class="description" v-if="hasCoin(100) === true"><span class="coin">100</span>を消費して選手を1人獲得します</div>
                <div class="description" v-else><span class="coin">100</span>が必要です</div>
                <div class="act-label" v-if="hasCoin(100) === true">スカウト実行！</div>
            </div>
            <div class="scout-btn normal-scout clearfix" v-bind:class="{ disabled: !hasCoin(1000) }" v-on:click="scout('tentimes', 1000)">
                <div class="label">10連選手スカウト</div>
                <div class="description" v-if="hasCoin(1000) === true"><span class="coin">1000</span>を消費して選手を10人獲得します</div>
                <div class="description" v-else><span class="coin">1000</span>が必要です</div>
                <div class="act-label" v-if="hasCoin(1000) === true">スカウト実行！</div>
            </div>
        </div>

        <div class="modal scout-result" style="display: none;">
            <h3>スカウト結果</h3>
            <div v-bind:class="scoutType">
                <div v-for="player in scout_result" class="player">
                    <div class="rate"><div v-for="n in player.rate" class="star">★</div></div>
                    <div class="result"><div class="player-info"><span class="name">{{ player.name }}</span><span class="age">({{ player.pivot.age }}歳)</span></div></div>
                </div>
                <div class="description">を獲得しました！</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.bounce = new this.$bounce();
        this.bounce.translate({
            from: { x: -300, y: -100 },
            to: { x: 0, y: 0 },
            easing: 'bounce',
            duration: 1000,
            delay: 0,
            bounces: 4,
            stiffness: 5
        })
        .scale({
            from: { x: 1, y: 1},
            to: { x: 1, y: 1 },
            easing: "sway",
            duration: 500,
            delay: 0,
            bounces: 4,
            stiffness: 5
        });
    },
    data() {
        return {
            bounce: null,
            scout_type: null,
            scout_result: []
        }
    },
    methods: {
        scout(type, coin) {
            if (!this.hasCoin(coin)) return false;
            this.scout_type = type;
            this.$http.post('/api/scout', { type: type } )
            .then(res => {
                this.scout_result = res.data;
                this.$nextTick(function () {
                    this.showModal('scout-result');
                    
                    let promises = []; // １選手の全ての星表示＆選手名表示開始時にresovleを返すメソッド群を入れる（配列の長さ＝選手数）

                    this.$('.player').each((player_index, player) => {
                        let player_promises = []; // 星が１つ表示される時にresolveを返すメソッド群を入れる（配列の長さ＝星の数）
                        this.$(player).find('.rate .star').each((star_index, star) => {
                            this.$(star).hide();
                            player_promises.push((() => {
                                    return new Promise((resolve, reject) => {
                                        setTimeout(() => { this.$(star).show();this.bounce.applyTo(star);resolve(player); }, 1000 + 300 * star_index);
                                    });
                                })()
                            );
                        });

                        promises.push((() => {
                            return new Promise((resolve, reject) => {
                                Promise.all(player_promises)
                                .then((player) => { this.$(player).find('.result').delay(1000).fadeIn(1000);resolve(); });
                            });
                        })());

                    });

                    // 星が全部やってきてから選手名表示
                    this.$('.result').hide();
                    this.$('.modal.scout-result .description').hide();
                    Promise.all(promises)
                    .then(() => {
                        this.$('.modal.scout-result .description').delay(1000).fadeIn(1000);
                        this.$root.updateTeam();
                    });
                })

            });
        },
        hasCoin(coin) {
            return this.$root.state.team.coin >= coin;
        },
        hasntCoin(coin) {
            return !this.hasCoin(coin);
        }
    },
    computed: {
        scoutType() {
            return (_.isEmpty(this.scout_type)) ? '' : this.scout_type;
        },
    }

}
</script>
