<template>
    <div id="page-sns">
        <div class="general-border" v-if="loaded === true">
            <h3>ログインに利用するSNS連携設定</h3>
            <div class="sns-link-buttons">
                <div class="button twitter" v-if="isLinked('twitter') === false" v-on:click="jump('/auth/twitter/attach')">ログイン連携</div>
                <div class="button twitter detach" v-else-if="isDetachable === true" v-on:click="jump('/auth/twitter/detach')">連携済 →解除する</div>
                <div class="button twitter disabled" v-else>連携済</div>

                <div class="button facebook" v-if="isLinked('facebook') === false" v-on:click="jump('/auth/facebook/attach')">ログイン連携</div>
                <div class="button facebook detach" v-else-if="isDetachable === true" v-on:click="jump('/auth/facebook/detach')">連携済 →解除する</div>
                <div class="button facebook disabled" v-else>連携済</div>

                <div class="button line" v-if="isLinked('line') === false" v-on:click="jump('/auth/line/attach')">ログイン連携</div>
                <div class="button line detach" v-else-if="isDetachable === true" v-on:click="jump('/auth/line/detach')">連携済 →解除する</div>
                <div class="button line disabled" v-else>連携済</div>

                <div class="button google" v-if="isLinked('google') === false" v-on:click="jump('/auth/google/attach')">ログイン連携</div>
                <div class="button google detach" v-else-if="isDetachable === true" v-on:click="jump('/auth/google/detach')">連携済 →解除する</div>
                <div class="button google disabled" v-else>連携済</div>

                <div class="button yahoo" v-if="isLinked('yahoo') === false" v-on:click="jump('/auth/yahoo/attach')">ログイン連携</div>
                <div class="button yahoo detach" v-else-if="isDetachable === true" v-on:click="jump('/auth/yahoo/detach')">連携済 →解除する</div>
                <div class="button yahoo disabled" v-else>連携済</div>

                <div class="idpass-description" v-if="isLinked('idpass') === true">※SNSログインに加え、ID+パスワードによるログインも可能です</div>

                <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loaded: false,
            linked_sns: []
        }
    },
    created() {
        this.updateLinkedSns();
    },
    methods: {
        updateLinkedSns() {
            this.$http.get('/api/auth_type')
            .then(res => {
                this.linked_sns = res.data.auth_types;
                this.loaded = true;
            });
        },
        isLinked(sns_driver) {
            return _.indexOf(this.linked_sns, sns_driver) !== -1;
        },
    },
    computed: {
        isDetachable() {
            return this.linked_sns.length > 1;
        },
    }

}
</script>
