<template>
    <div id="page-team">
        <div v-if="loaded === true">
            <div class="general-border">
                <div class="teamname">{{ team.name }}</div>
                <h2>チーム成績</h2>
                <div class="team-status">{{ team.win }}勝 {{ team.lose }}敗 {{ team.draw }}分 勝率{{ winningPercentage }} {{ team.rank }}位/{{ allTeamCount }}チーム</div>
                <h2>オーダー</h2>
                <ul class="starting-order">
                    <li v-for="item in getOrderLineup().starting_order">
                        <span class="batting-order">{{ item.batting_order }}</span><span class="position">{{ toPositionStr(item.position) }}</span><span class="name">{{ players[item.player_id].name }}</span><span class="age">({{ players[item.player_id].age }})</span><span class="result" v-if="players[item.player_id].has_batting_result === true">{{ formatAvg(players[item.player_id].player_batting_result.avg) }} {{ players[item.player_id].player_batting_result.homerun }}本 {{ players[item.player_id].player_batting_result.rbi }}点</span><span v-else class="result">出場なし</span>
                    </li>
                </ul>
                <ul class="starter-pitchers">
                    <li v-for="item in getOrderLineup().starter_pitchers">
                        <span class="starter-order">{{ item.order }}番手</span><span class="name">{{ players[item.player_id].name }}</span><span class="age">({{ players[item.player_id].age }})</span><span class="result" v-if="players[item.player_id].has_pitching_result">{{ players[item.player_id].player_pitching_result.era }} {{ players[item.player_id].player_pitching_result.wins }}勝 {{ players[item.player_id].player_pitching_result.losses }}敗</span><span v-else class="result">出場なし</span>
                    </li>
                </ul>
                <h2>過去の成績</h2>
                <div v-for="team_record in team.team_records">
                    <h3 class="season">第{{ team_record.season }}シーズン</h3>
                    {{ team_record.win }}勝 {{ team_record.lose }}敗
                    <span class="rank">{{ team_record.rank }}位 / {{ team_record.team_count }}チーム</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id'],
    data() {
        return {
            loaded: false,
            team: null,
            players: {}
        }
    },
    created() {
        let id = (this.id) ? this.id : this.$root.state.team.id;
        Promise.all([
            this.$root.updateRanking(),
            this.getTeam(id)
        ])
        .then((res) => {
            this.loaded = true;
        });
    },
    methods: {
        getTeam(id) {
            return this.$http.get('/api/team/' + id)
            .then(res => {
                this.team = res.data.team;
                _.each(res.data.players, (player) => { this.players[player.id] = player; });
                return Promise.resolve();
            });
        },
        getOrderLineup(){
            return _.first(this.team.team_orders, (team_order) => team_order.order_type === 20).order_lineup;
        },
    },
    computed: {
        winningPercentage() {
            return this.formatAvg(this.team.win / (this.team.win + this.team.lose));
        },
        allTeamCount() {
            return this.$root.state.ranking_response.ranking.length;
        },
    },
}
</script>

