<template>
    <div id="page-teamname">
        <div class="general-border">
            <h3>チーム名「{{ $root.state.team.name }}」を変更する</h3>
            <div v-if="$root.state.team.changed_name === 0">
                <div class="description">シーズン中に１度だけ、<span class="coin">500</span>を消費してチーム名の変更を行うことができます。</div>
                <div v-if="$root.state.team.coin >= 500">
                <form>
                    <input type="text" name="teamname" v-model="teamname" placeholder="新チーム名" />
                    <div class="errors">
                        <div class="error" v-for="error_message in errors">{{ error_message }}</div>
                    </div>
                    <div class="change-teamname" v-on:click="changeTeamname()">変更する</div>
                </form>
                </div>
                <div class="description" v-else>COINが不足しています。</div>
            </div>
            <div v-else>
                <div class="description">今シーズンはすでにチーム名の変更を行ったため、来シーズンになるまでチーム名の変更を行うことはできません。</div>
            </div>
        </div>

        <div class="modal completed-changing-teamname" style="display: none;">
            <h3>チーム名を変更しました</h3>
            <div class="description">新チーム名「{{ teamname }}」になりました</div>
            <div class="btn" v-on:click="$.modal.close();">OK</div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            teamname: "",
            errors: [],
        }
    },
    methods: {
        changeTeamname() {
            this.$http.post('/api/team/name', {
                teamname: this.teamname
            })
            .then(res => {
                return this.$root.updateTeam();
            })
            .then(res => {
                this.showModal('completed-changing-teamname');
            })
            .catch(error => {
                this.errors = [];
                _.each(error.response.data, err_msgs => {
                    this.errors = this.errors.concat(err_msgs);
                });
            });
        }
    }
}
</script>
