#page-directory {

    margin-top: 16px;
    margin-bottom: 16px;

    .list {

        h3 {
          text-align: center;
          color: #ff4;
          font-weight: normal;
          font-size: 27px;
          margin-bottom: 4px;
        }

        .formset {
            .inputs {
                text-align: right;
                margin-bottom: 8px;
                margin-right: 8px;
                input[type=checkbox] {
                    + label {
                        top: 0px;
                        line-height: 22px;
                        padding-left: 28px;
                    }
                    + label:before {
                        border-right: 3px solid #ccc;
                        border-bottom: 3px solid #ccc;
                        top: 5px;
                        left: 7px;
                        margin-top: -7px;
                        width: 5px;
                        height: 14px;
                    }
                    + label:after {
                        border-color: #ccc;
                        margin-top: -13px;  /* チェック枠の位置 */
                        width: 18px;        /* ボックスの横幅を指定する */
                        height: 18px;       /* ボックスの高さを指定する */
                        top: 12px;
                        &:hover {
                        }
                    }
                }
            }
        }

        .controller {
            margin-bottom: 16px;
            .search, .sort {
                color: #fff;
                height: 40px;
                border-radius: 5px;
                float: left;
                text-align: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 20px;
            }
            .search {
                @include button("skyblue")
                background-image: url($imgDir + "search_white.png");
                width: 45%;
                margin-right: 10%;
            }
            .sort {
                @include button("skyblue")
                background-image: url($imgDir + "sort_white.png");
                width: 45%;
            }
        }


        ul.players {
            margin: 16px 0;
            li.player {
                cursor: pointer;
                padding: 10px;
                margin-left: -20px;
                margin-right: -20px;
                transition-duration: 0.3s;
                span {
                  display: inline-block;
                  text-align: center;
                }
                span.name {
                    margin-left: 5%;
                    width: 40%;
                }
                span.age {
                    text-align: right;
                    width: 15%
                }
                span.rate {
                    @include star-font
                    font-size: 17px;
                    margin-left: 5%;
                    width: 15%;
                }
                span.player-type {
                    width: 15%;
                }
            }
            li.player:nth-child(odd) {
                background-color: rgba(0, 0, 0, 0.2);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
            li.player:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.2);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }

    .detail {
        .cancel {
            color: #fff;
            height: 30px;
            border-radius: 5px;
            float: left;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            @include button("red")
            width: 23%;
            background-image: url($imgDir + "back_white.png");
            margin-left: calc(10% - 20px);
            margin-bottom: 16px;
        }
        .general-border {
        &.present-status {
            margin-bottom: 16px;
            .player {
                .main-info {
                    .col-1 {
                        .name {
                            font-size: 25px;
                        }
                        .rate {
                            @include star-font
                            float: right;
                            font-size: 30px;
                            margin-right: 16px;
                        }
                        margin-bottom: 8px;
                    }
                    .col-2 {
                        font-size: 17px;
                        margin-bottom: 8px;
                        .age {
                            .val {
                                color: $ageColor;
                                font-weight: bold;
                            }
                        }
                        .free {
                            margin-left: 8px;
                            .label {
                                @include skip-font
                            }
                            .free-description {
                                background-color: #fff;
                                display: inline-block;
                                color: #666;
                                height: 18px;
                                width: 18px;
                                margin: 0 8px;
                                text-align: center;
                                font-weight: bold;
                                border: 2px solid #666;
                                border-radius: 50%;
                                cursor: pointer;
                                transition-duration: 0.3s;
                                &:hover {
                                    opacity: 0.5;
                                }
                            }
                        }
                        .positions {
                            float: right;
                            margin-right: 16px;
                        }
                    }
                }
                .result-info {
                    .result-wrap {
                        float: left;
                        width: 20%;
                        margin-bottom: 2px;
                        font-size: 12px;
                        text-align: center;
                        .result-title {
                            display: block;
                            white-space: nowrap;
                            padding: 4px 0;
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                        .result-value {
                            display: block;
                            white-space: nowrap;
                            padding: 4px 2%;
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
        &.career-status {
            padding: 10px 20px;
            .career-result-info {
              margin: 0 -20px;
                h3 {
                  text-align: center;
                  color: #ffd755;
                  font-weight: normal;
                  font-size: 20px;
                  margin-bottom: 8px;
                }
                table {
                    table-layout: fixed;
                    width: 100%;
                    text-align: center;
                    th {
                        background-color: rgba(0, 0, 0, 0.2);
                        padding: 4px 0;
                    }
                    td {
                        background-color: rgba(255, 255, 255, 0.2);
                        padding: 8px 0;
                        &.age {
                            color: $ageColor;
                            font-weight: bold;
                        }
                        &.skip {
                            @include skip-font
                            cursor: pointer;
                            transition-duration: 0.3s;
                            &:hover {
                                background-color: #eee;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }

        }
    }

}
