footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #056bb7;
    ul {
        padding-left: 8px;
        li {
            @include button("blue")
            float: left;
            width: calc((100% / 4) - 8px);
            height: 54px;
            margin-top: 5px;
            margin-right: 8px;
            position: relative;
            background-repeat: no-repeat;  
            background-position: center;
            background-size: 40px;
            border-radius: 24px;
            .label {
                position: absolute;
                bottom: 5px;
                width: 100%;
                font-size: 15px;
                text-align: center;
                text-shadow: black 1px 1px 0px, black -1px 1px 0px,
                             black 1px -1px 0px, black -1px -1px 0px;
            }
        }
        li.home { background-image: url($imgDir + "home.png"); }
        li.order { background-image: url($imgDir + "order.png"); }
        li.scout { background-image: url($imgDir + "scout.png"); }
        li.menu { background-image: url($imgDir + "menu.png"); }
        li.menu.no-team { margin-left: 50%; }
    }

    &.login {
        background-color: #225;
        ul:not(.no-login-form) {
            float: left;
            width: 25%;
            padding: 0;
            li {
                width: 100%;
            }
        }
        .id-login {
            float: left;
            width: 70%;
            margin-left: 4%;
            height: 64px;
            form {
                display: inline-block;
                width: 64%;
                vertical-align: bottom;
                height: 64px;
                text-align: center;
                input {
                    vertical-align: inherit;
                    border: 1px solid #ccd6dd;
                    border-radius: 3px;
                    width: 40%;
                    height: 24px;
                    margin-top: 15px;
                }
                .errors {
                    text-align: center;
                    margin-top: 2px;
                    font-size: 13px;
                    color: #faa;
                }
            }
            .login {
                display: inline-block;
                width: 30%;
                font-size: 13px;
                text-align: center;
                border-radius: 10px;
                height: 28px;
                line-height: 28px;
                margin: 16px 0;
                border: 2px solid #fff;
                background-color: #224;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: #448;
                }
            }
        }
    }
}
