#page-friend {
    margin-top: 16px;
    margin-bottom: 16px;

    h3 {
        text-align: center;
        color: #ffd755;
        font-weight: normal;
        font-size: 25px;
        margin-bottom: 16px;
    }

    p {
        line-height: 1.5;
    }
    .coin {
        margin: 0 4px;
        padding-left: 16px;
        @include coin-font
        background-image: url($imgDir + "coin.png");
        background-repeat: no-repeat;  
        background-position: center left;
        background-size: 16px;
    }

    .share-buttons {
        margin-top: 16px;
        .button {
            display: block;
            text-decoration: none;
            color: #fff;
            width: 80%;
            margin: 8px auto;
            padding: 16px 0;
            text-align: center;
            background-repeat: no-repeat;  
            background-position: 30% center;
            background-size: 32px;
            border-radius: 5px;
            cursor: pointer;
            transition-duration: 0.3s;
            &.twitter {
                @include social-bg('twitter');
            }
            &.facebook {
                @include social-bg('facebook');
            }
            &.line {
                @include social-bg('line');
            }
        }
    }

}
