#page-game {

      .share-buttons {
          text-align: right;
          margin: 8px auto 0;
          .button {
              display: inline-block;
              text-decoration: none;
              color: #fff;
              width: 32px;
              height: 32px;
              background-repeat: no-repeat;  
              background-position: center;
              background-size: 24px;
              border-radius: 3px;
              cursor: pointer;
              transition-duration: 0.3s;
              &.twitter {
                  @include social-bg('twitter');
              }
              &.facebook {
                  @include social-bg('facebook');
              }
              &.line {
                  @include social-bg('line');
              }
          }
      }

}
