header {
    position: fixed;
    z-index: 10;
    background-color: #025;
    width: 100%;
    height: 64px;
    top: 0;
    box-shadow:0px 4px 4px #001122;

    .team-status {
        .left-block {
            float: left;
            width: 48%;
            margin-left: 2%;
            .col-1 {
                height: 28px;
                .teamname {
                    line-height: 23px;
                    margin-top: 8px;
                    padding-left: 8px;
                    border-radius: 10px;
                    background-color: #056bb7;
                    box-shadow:0px 3px 3px #00152b;
                    color: #fff;
                }
            }
            .col-2 {
                height: 32px;
                line-height: 26px;
                .level-wrap {
                    display: inline-block;
                    width: 55px;
                    margin: -3px 0 6px;
                    .level-label {
                        color: #aaa;
                    }
                    .level {
                        font-weight: bold;
                        font-size: 17px;
                    }
                }
                .exp-progress-wrap {
                    display: inline-block;
                    width: calc(100% - 62px);
                    .exp-progress {
                        @include progress
                        width: 100%;
                        height: 11px;
                        margin: 0;
                        .exp-progress-bar {
                            @include progress-bar
                            height: 11px;
                        }
                    }
                }
            }
        }

        .center-block {
            float: left;
            width: calc(45% - 50px);
            margin-left: 5%;
            .coin {
                width: 100%;
                max-width: 200px;
                float: right;
                line-height: 32px;
                margin-top: 16px;
                text-align: right;
                padding-right: 16px;
                border-radius: 16px;
                box-shadow:0px 3px 3px #00152b;
                font-size: 17px;
                @include coin-font
                background-image: url($imgDir + "coin.png");
                background-repeat: no-repeat;  
                background-position: top left;
                background-size: 30px 30px;
            }
        }

        .right-block {
            float: right;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-top: 12px;
            margin-right: 8px;
            .mail-wrap {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background-color: #fff;
                .mail {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: #fff;
                    background-image: url($imgDir + "mail.png");
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 32px 32px;
                    position: relative;
                    cursor: pointer;
                    z-index: 0;
                    .notice {
                        width: 28px;
                        height: 28px;
                        border-radius: 14px;
                        position: absolute;
                        top: -8px;
                        right: -8px;
                        background-color: #f55;
                        color: #fff;
                        line-height: 28px;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        z-index: 1;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .reminder-making-team {
        .description {
            margin: 8px;
            font-size: 17px;
            line-height: 24px;
            color: #ff4;
            font-weight: bold;
            text-align: center;
        }
    }

    .reminder-for-login {
        .sns-login-label {
            display: inline-block;
            line-height: 64px;
            margin-left: 8px;
            color: #ff4;
            font-weight: bold;
            font-size: 14px;
        }
        .sns-login-buttons {
            display: inline-block;
            line-height: 64px;
            .button {
                display: inline-block;
                background-repeat: no-repeat;  
                background-position: center;
                background-size: 32px;
                width: 40px;
                height: 40px;
                margin: 0 6px;
                vertical-align: middle;
                border-radius: 10px;
                cursor: pointer;
                &.twitter {
                    @include social-bg('twitter');
                }
                &.facebook {
                    @include social-bg('facebook');
                }
                &.line {
                    @include social-bg('line');
                }
                &.google {
                    @include social-bg('google');
                }
                &.yahoo {
                    @include social-bg('yahoo');
                }
            }
        }

    }
}

