#page-howto {
    margin-top: 16px;
    margin-bottom: 16px;

    h3 {
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        margin: 8px 0;
        color: #ffd700;
    }

    div.description {
      margin-bottom: 8px;
    }

    .coin {
        margin: 0 4px;
        padding-left: 16px;
        @include coin-font
        background-image: url($imgDir + "coin.png");
        background-repeat: no-repeat;  
        background-position: center left;
        background-size: 16px;
    }


}
