#page-index {
    margin-top: 16px;
    margin-bottom: 16px;

    .general-border {
        .top-description {
            text-align: center;
            color: #ff4;
        }

        .create-team {
            @include button("yellow")
            padding: 5%;
            margin: 20px;
            border-radius: 20px;
            .label {
                text-align: center;
                color: #f60;
                font-size: 30px;
                font-weight: bold;
            }
            .description {
                margin-top: 16px;
                font-size: 20px;
                line-height: 24px;
                color: #944;
                text-align: center;
                font-weight:bold;
            }
            .act-label {
                text-align: center;
                background-color: #f82;
                color: #fff;
                width: 80%;
                min-width: 160px;
                max-width: 100%;
                margin: 16px auto 0;
                padding: 8px;
                border-radius: 12px;
                font-size: 20px;
            }
            & * {
                transition: 0.3s;
            }
            &:hover * {
                opacity: 0.8;
            }
        }

        .to-howto {
            display: inline-block;
            float: right;
            border: 2px solid #fff;
            border-radius: 5px;
            padding: 8px 16px;
            cursor: pointer;
            &:hover {
                background: #214d4f;
            }
        }

        .team-status {
            font-size: 24px;
            text-align: center;
        }

        .share-buttons {
            text-align: right;
            margin: 8px auto 0;
            .button {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;  
                background-position: center;
                background-size: 24px;
                border-radius: 3px;
                cursor: pointer;
                transition-duration: 0.3s;
                &.twitter {
                    @include social-bg('twitter');
                }
                &.facebook {
                    @include social-bg('facebook');
                }
                &.line {
                    @include social-bg('line');
                }
            }
        }

        h2 {
            margin-top: 16px;
            margin-bottom: 20px;
        }

        &.game-info {
            height: 50vh;
            overflow-x: hidden;
            overflow-y: scroll;
            margin-top: 16px;
            .next-game-info {
                text-align: center;
            }
            .next-game {
                height: 32px;
                line-height: 32px;
                text-align: center;
                .teamname {
                    color: #ff4;
                    margin-left: 16px;
                    font-size: 27px;
                    font-weight: bold;
                    cursor:pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            ul.game-results {
                font-size: 13px;
                li:hover {
                    opacity: 0.8;
                }
                li.game-result {
                    padding: 10px;
                    margin-left: -20px;
                    margin-right: -20px;
                    cursor: pointer;
                    span {
                      display: inline-block;
                    }
                    span.game-number {
                        margin-left: 2%;
                        width: 18%;
                    }
                    span.teamname {
                        text-align: right;
                        width: 44%;
                    }
                    span.score {
                        margin-left: 5%;
                        width: 21%;
                        text-align: center;
                    }
                    span.result-star {
                        width: 10%;
                        text-align: center;
                    }
                    span.result-star.win { color: #fff; }
                    span.result-star.lose { color: #000; }
                    span.result-star.draw { color: #ccc; }
                }
                li.game-result:nth-child(odd) { background-color: rgba(0, 0, 0, 0.2); }
                li.game-result:nth-child(even) { background-color: rgba(255, 255, 255, 0.2); }

                &.all-team li.game-result {
                    span.teamname {
                        width: 25%;
                        margin: 0 1%;
                    }
                }
            }
        }

        .to-ranking {
            text-align: right;
            color: #ff4;
            margin: -8px 0 8px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }

    }
}
