#page-menu {
    margin-top: 16px;
    margin-bottom: 16px;
    .general-border {
        padding-bottom: 0;
        ul.menu {
            margin-left: 4%;
            li {
                @include button("blue")
                float: left;
                width: 29%;
                margin-bottom: 20px;
                margin-right: 4%;
                height: 60px;
                position: relative;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 40px;
                border-radius: 28px;
                .label {
                    position: absolute;
                    bottom: 5px;
                    width: 100%;
                    font-size: 17px;
                    text-align: center;
                    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
                }
            }
            li.home { background-image: url($imgDir + "home.png"); }
            li.order { background-image: url($imgDir + "order.png"); }
            li.scout { background-image: url($imgDir + "scout.png"); }
            li.directory { background-image: url($imgDir + "directory.png"); }
            li.friend { background-image: url($imgDir + "friend.png"); }
            li.ranking { background-image: url($imgDir + "ranking.png"); }
            li.teamname { background-image: url($imgDir + "teamname.png"); }
            li.sns { background-image: url($imgDir + "sns.png"); }
            li.team { background-image: url($imgDir + "team.png"); }
            li.howto { background-image: url($imgDir + "howto.png"); }
            li.logout { background-image: url($imgDir + "logout.png"); }
        }
    }
}

