.modal {
    color: #333;
    h3 {
        text-align: center;
        color: #056bb7;
        font-size: 22px;
    }

    .btn, .act-search, .act-sort, .act-skip {
        @include button("skyblue")
        color: #fff;
        margin: 8px 0;
        padding: 12px 0;
        border-radius: 5px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        box-shadow: 2px 2px 2px #448;
    }

    &.scout-result {
        width: 95%;
        padding: 10px;
        min-height: 60%;
        .normal {
            .player {
                .rate {
                    margin-top: 16px;
                    .star {
                        display: inline-block;
                        @include star-font
                        font-size: 36px;
                    }
                }
                .result {
                    margin: 16px 0;
                    .player-info {
                        text-align: center;
                        .name {
                            font-size: 30px;
                            font-weight: bold;
                        }
                        .age {
                            margin-left: 8px;
                            font-size: 22px;
                        }
                    }
                }
            }
            .description {
                font-size: 17px;
                margin-top: 16px;
                text-align: right;
            }
        }

        .tentimes {
            .player {
                float: left;
                width: 46%;
                margin: 0 2%;
                font-size: 13px;
                .rate {
                    width: 90px;
                    height: 36px;
                    margin-top: 0px;
                    .star {
                        display: inline-block;
                        @include star-font
                        font-size: 17px;
                    }
                }
                .result {
                    margin: 0px 0 10px;
                    .player-info {
                        text-align: center;
                        .name {
                            font-weight: bold;
                        }
                        .age {
                            margin-left: 8px;
                        }
                    }
                }
            }
            .description {
                margin-top: 8px;
                text-align: right;
            }
        }

    }

    .formset {
        .label {
            float: left;
            width: 33%;
            margin-right: 5%;
            text-align: right;
            font-weight: bold;
            &.checkbox {
                height: 30px;
                line-height: 22px;
            }
            &.select {
                height: 30px;
                line-height: 27px;
            }
        }
        .inputs {
            float: left;
            width: 62%;
        }
        &.mt-16 {
            margin-top: 16px;
        }
    }

    &.skip-description {
        .descriptions {
            margin-top: 16px;
            p {
                margin: 8px 0;
                line-height: 20px;
                .once-skip {
                    font-weight: bold;
                    color: #056bb7;
                }
                .free-skip {
                    font-weight: bold;
                    color: #ff5555;
                }
            }
        }
    }

    &.skip {
        .before-result {
            text-align: center;
            margin: 16px 0 0;
            font-weight: bold;
            .age {
                color: #f55;
            }
        }
        .arrow {
            text-align: center;
            color: #f55;
            font-size: 25px;
        }
        .after-result {
            text-align: center;
            font-weight: bold;
            .age {
                color: #f55;
            }
        }
        .descriptions {
            margin-top: 16px;
            color: #056bb7;
        }
    }

    &.mail {
        padding: 15px;
        background: #223;
        background: radial-gradient(#373744, 40%, #111118);
        h3 {
            color: #ffd700;
            margin-bottom: 16px;
        }
        .receive-all, .receive {
            @include button('blue');
            color: #fff;
            margin: 0;
            padding: 8px 0;
            border-radius: 5px;
            text-align: center;
        }
        .receive-all {
            width: 50%;
            float: right;
            margin-bottom: 8px;
        }

        .mail-viewer {
            color: #fff;
            border-radius: 8px;

            ul.mail-list {
                max-height: 36vh;
                overflow-y: scroll;
                margin-bottom: 16px;
                li.mail {
                    margin: 8px;
                    padding: 6px;
                    border-radius: 5px;
                    background-color: #336;
                    cursor: pointer;
                    &:hover {
                        background-color: #55a;
                    }

                    * {
                        height: 30px;
                        line-height: 30px;
                        vertical-align: middle;
                    }
                    .read-flag {
                        display: inline-block;
                        width: 10%;
                        position: relative;
                        &.unread:after {
                            content: "";
                            display: block;
                            background-color: #f55;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            border-radius: 50%;
                        }
                    }
                    .title {
                        display: inline-block;
                        width: 64%;
                    }
                    .gift-flag {
                        display: inline-block;
                        width: 16%;
                        &.has {
                            background-image: url($imgDir + "gift.png");
                            background-repeat: no-repeat;  
                            background-position: center;
                            background-size: 30px;
                        }
                    }
                    .date {
                        display: inline-block;
                        width: 10%;
                        font-size: 10px;
                    }
                }
            }

            .mail-content {
                border-top: 1px solid #aaa;
                margin-top: 16px;
                padding-top: 16px;
                .title {
                    text-align: center;
                    color: #ff4;
                    font-weight: normal;
                    font-size: 20px;
                    margin-bottom: 12px;
                }
                .text {
                    line-height: 1.5;       
                    margin-bottom: 16px;
                }
                .receive {
                    width: 80%;
                    margin: 0 auto;
                    &.disabled:hover {
                        background-color: #025;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.welcome {
        h3 {
            font-size: 30px;
        }
        .description {
            margin: 16px;
            font-size: 18px;
            color: #944;
            font-weight: bold;
        }
        ul {
            li {
                line-height: 28px;
                font-size: 15px;
                color: #333;
            }
        }
    }

    &.completed-changing-teamname {
        .description {
            margin: 16px 0;
        }
    }

    &.login-bonus {
        .description {
            margin: 8px 0;
            color: #944;
            text-align: center;
            font-size: 15px;
            .coin {
                @include coin-font
                background-image: url($imgDir + "coin.png");
                background-repeat: no-repeat;  
                background-position: center left;
                background-size: 16px 16px;
                font-size: 16px;
                padding-left: 16px;
                padding-right: 2px;
            }
        }
    }
}

