@mixin clickable-attr {
    &:not(.disabled) {
        background-color: #336;
        transition: .2s;
        cursor: pointer;
        &:hover {
            background-color: #55a;
        }
        &.selected {
            background-color: #88c;
        }
    }
    &.disabled {
        background-color: #224;
    }
}

#page-order {

    margin-top: 16px;
    margin-bottom: 16px;
    .main {
        .fixed {
            position: fixed;
            width: 100%;
            top: 0px;
            .selector {
                height: 48px;
                .batter, .pitcher {
                    float: left;
                    width: 50%;
                    cursor: pointer;
                    text-align: center;
                    background-color: #bbb;
                    color: #222;
                    padding: 16px 0 13px;
                    border-bottom: 3px solid #002;
                    &.active {
                        border-bottom: 3px solid #033b65;
                        background-color: #033b65;
                        color: #fff;
                        cursor: default;
                    }
                }
                /*
                .order-type {
                    float: left;
                    width: 33%;
                    margin-left: 1%;
                    background-color: #033b65;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    padding: 8px 0 5px;
                    background-image: url($imgDir + "reverse-triangle.png");
                    background-repeat: no-repeat;
                    background-position: 70% center;
                    background-size: 10px;
                    cursor: pointer;
                }
                */
            }
            .player-detail {
                min-height: 48px;
                width: 95%;
                background: rgba(53, 78, 78, 0.99);
                padding: 8px;
                .rate {
                    @include star-font
                    font-size: 16px;
                }
            }
        }
        .starting-order {
            padding-top: 36px;
            h3 {
                text-align: center;
                font-weight: normal;
                font-size: 20px;
                margin: 8px 0 0;
                color: #ffd700;

            }
            .batters, .pitchers {
                margin-top: 8px;
                .batter, .pitcher {
                    margin-top: 5px;
                    * {
                        display: inline-block;
                        padding: 10px 0px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: center;
                    }
                    .batting-order {
                        width: 6%;
                        margin-left: 1%;
                        margin-right: 1%;
                    }
                    .position {
                        width: 7%;
                        margin-right: 1%;
                        @include clickable-attr
                        &.mismatched {
                            background-color: #c55;
                            &:hover {
                              background-color: #f88;
                            }
                        }
                    }
                    .role {
                        width: 14%;
                        margin-left: 1%;
                        margin-right: 1%;
                        @include clickable-attr
                    }
                    .starter-order {
                        width: 14%;
                        margin-left: 1%;
                        margin-right: 1%;
                    }
                    .name {
                        width: 35%;
                        margin-right: 1%;
                        @include clickable-attr
                    }
                    .result {
                        width: 31%;
                        margin-right: 1%;
                        cursor: pointer;
                        &:hover {
                            background-color: #444;
                        }
                    }
                    .changing-button {
                        width: 15%;
                        margin-right: 1%;
                        @include clickable-attr
                    }
                }
            }
            .add-bench {
                width: 98%;
                margin: 16px 1%;
                padding: 10px 0px;
                text-align: center;
                @include clickable-attr
            }
        }
    }

    .sub {
        .instruction {
            color: #ffd700;
            text-align: center;
            margin-bottom: 16px;
        }
        .general-border {
            padding-left: 10px;
            padding-right: 10px;
            .controller {
                margin-bottom: 16px;
                .search,.putout, .sort, .cancel {
                    color: #fff;
                    height: 40px;
                    border-radius: 5px;
                    float: left;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 20px;
                }
                .cancel {
                    @include button("red")
                    width: 23%;
                    background-image: url($imgDir + "back_white.png");
                    margin-left: 1%;
                    margin-right: 2%;
                }
                .putout {
                    @include button("red")
                    width: 23%;
                    line-height: 40px;
                    margin-left: 1%;
                    margin-right: 2%;
                }
                .search {
                    @include button("skyblue")
                    background-image: url($imgDir + "search_white.png");
                    width: 23%;
                    margin-right: 2%;
                }
                .sort {
                    @include button("skyblue")
                    background-image: url($imgDir + "sort_white.png");
                    width: 23%;
                }
            }
        }
        .players {
            .player {
                @include button("white")
                position: relative;
                white-space: nowrap;
                color: #333;
                float: left;
                padding: 8px 2%;
                border-radius: 5px;
                width: 27%;
                margin: 8px 1%;
                text-align: center;
                .name {
                  font-weight: bold;
                }
                .result {
                    height: 20px;
                    font-size: 12px;
                    line-height: 1.2;
                    padding: 6px 0;
                }
                .rate {
                    @include star-font
                      margin-top: 4px;
                }
                .unable-to-pitch-tag {
                    position: absolute;
                    bottom: 24px;
                    background-color: #fff;
                    color: #f44;
                    left: 0px;
                    width: 90%;
                    padding: 5%;
                }
            }
        }

    }

}
