@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
          @content;
            }
}
@mixin screen($break-point-min, $break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
          @content;
            }
}

@mixin progress {
    background-color: #f0f0f0;
    display: block;
    margin: 3px 0 12px;
    height: 8px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    width: 70%;
}
@mixin progress-bar {
    background-color: #66dd33;
    float: left;
    height: 7px;
    border-radius: 7px;
}
@mixin coin-font {
    color: #ffd700;
    text-shadow: 1px 1px 0px #a70;
}
@mixin star-font {
    font-size: 22px;
    color: #ffd700;
    text-shadow: 3px 2px 0px #a70;
    font-weight: bold;
    @-webkit-keyframes blinker {
        from {color: #ffd700;text-shadow: 3px 2px 0px #a70;}
          to {color: #ffee33;text-shadow: 3px 2px 0px #b93;}
    }
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:liiner;
    -webkit-animation-direction: alternate;
}
@mixin skip-font {
    color: #ff4444;
    text-shadow: 3px 2px 0px #a00;
    font-weight: bold;
    @-webkit-keyframes skip {
        0%   {color: #ddaaaa;text-shadow: 3px 2px 0px #a00;}
        50%  {color: #ddaadd;text-shadow: 3px 2px 0px #a0a;}
        100% {color: #aaaadd;text-shadow: 3px 2px 0px #00a;}
    }
    text-decoration: blink;
    -webkit-animation-name: skip;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:liiner;
    -webkit-animation-direction: alternate;
}
@mixin button($type) {
    &:not(.disabled) {
        cursor:pointer;
        transition: 0.3s;
        @if $type == "blue" {
            background-color: #025;
            box-shadow: 2px 2px 2px #224;
            &:hover {
                background-color: #4ae;
                opacity: 0.9;
                box-shadow: none;
            }
        } @else if $type == "yellow" {
            background-color: #ffc;
            box-shadow: 4px 4px 4px #112;
            &:hover {
                background-color: #ffe;
                box-shadow: none;
            }
        } @else if $type == "skyblue" {
            background-color: #51b2fb;
            box-shadow: 4px 4px 4px #112;
            &:hover {
                background-color: #7cf;
                box-shadow: none;
            }
        } @else if $type == "red" {
            background-color: #f66;
            box-shadow: 4px 4px 4px #211;
            &:hover {
                background-color: #f88;
                box-shadow: none;
            }
        } @else if $type == "white" {
            background-color: #fafafa;
            box-shadow: 4px 4px 4px #111;
            &:hover {
                background-color: #ccc;
                box-shadow: none;
            }
        }
    }
    &.disabled {
        background-color: #ddd;
        box-shadow: 2px 2px 2px #666;
    }
}

@mixin social-bg($type) {
    @if $type == "twitter" {
        background-image: url($imgDir + "twitter.png");
        background-color: #00aced;
        &:hover:not(.disabled) {
          background-color: #51D0FF;
        }
    } @else if $type == "facebook" {
        background-image: url($imgDir + "facebook.png");
        background-color: #3b5998;
        &:hover:not(.disabled) {
          background-color: #6F8CC7;
        }
    } @else if $type == "line" {
        background-image: url($imgDir + "line.png");
        background-color: #00c300;
        &:hover:not(.disabled) {
          background-color: #28FF28;
        }
    } @else if $type == "google" {
        background-image: url($imgDir + "google.png");
        background-color: #dd4b39;
        &:hover:not(.disabled) {
          background-color: #EB978E;
        }
    } @else if $type == "yahoo" {
        background-image: url($imgDir + "yahoo.png");
        background-color: #ff0033;
        &:hover:not(.disabled) {
          background-color: #ff6684;
        }
    }
}

.general-border {
    background: rgba(128, 255, 222, 0.2);
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 90%;
    padding: 15px 10px;
    margin:0 auto;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    h2 {
        border-radius: 15px;
        background-color: #056bb7;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        font-size: 20px;
        font-weight: initial;
        padding: 5px 0;
        position: relative;
    }
    h2:before {
      border-top: 1px solid #056bb7;
      content: "";
      position: absolute;
      left: -25%;
      top: 50%;
      width: 150%;
      z-index: -1;
    }
}

.paginator {
    &.head .controller { margin: 0 0 8px 0; }
    &.foot .controller { margin: 8px 0 0 0; }
    .controller {
        .prev-10, .prev-1, .next-1, .next-10 {
            display: inline-block;
            height: 30px;
            vertical-align: middle;
            width: 10%;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            transition-duration: 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
        .prev-10 {
            background-image: url($imgDir + "prev_10.png");
            background-size: 32px;
        }
        .prev-1 {
            background-image: url($imgDir + "prev.png");
            background-size: 20px;
            margin-left: 7%;
        }
        .next-1 {
            background-image: url($imgDir + "next.png");
            background-size: 20px;
            margin-right: 7%;
        }
        .next-10 {
            background-image: url($imgDir + "next_10.png");
            background-size: 32px;
        }
        .now-page {
            display: inline-block;
            color: #ff4;
            text-align: center;
            width: 32%;
            height: 30px;
            vertical-align: middle;
            line-height: 30px;
            margin: 0 2%;
        }
    }
    .page-line {
        text-align: center;
        .number-wrap {
            position: relative;
            display: inline-block;
            width: 9%;
            max-width: 48px;
            border-radius: 50%;
            background-color: #025;
            vertical-align: middle;
            cursor: pointer;
            transition-duration: 0.3s;
            &:hover {
                opacity: 0.6;
            }
            &:before {
                content:"";
                display: block;
                padding-top: 100%; /* 高さを幅の75%に固定 */
            }
            .number {
                 position:absolute;
                 top: 0;
                 right: 0;
                 bottom: 0;
                 left: 0;
                 margin:auto;
                 text-align: center;
                 width: 100%;
                 height: 14px;
                 font-size: 14px;
            }
        }
        .elipsis {
            display: inline-block;
            width: 6%;
            margin: 0 1%;
            text-align: center;
        }
    }
}
