#page-ranking {

    margin-top: 16px;
    margin-bottom: 16px;
    .general-border {
        h3 {
          text-align: center;
          color: #ff4;
          font-weight: normal;
          font-size: 27px;
          margin-bottom: 12px;
        }
        table {

            table-layout: fixed;
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
            .rate {
                @include star-font
                font-size: 16px;
            }
            thead {
                th {
                    background-color: rgba(0, 0, 0, 0.2);
                    padding: 4px 0;
                    vertical-align: middle;

                    &.rank { width: 10%; }
                    &.name { width: 33%; }
                    &.win { width: 10%; }
                    &.lose { width: 10%; }
                    &.draw { width: 10%; }
                    &.level { width: 10%; }
                    &.sum-rate { width: 17%; }
                }
            }
            tbody {
                tr {
                    &:nth-child(odd) { background-color: rgba(255, 255, 255, 0.2); }
                    &:nth-child(even) { background-color: rgba(0, 0, 0, 0.2); }
                }
                td {
                    padding: 8px 0;
                    &.age {
                        color: $ageColor;
                        font-weight: bold;
                    }
                    &.teamname {
                        cursor:pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    &.skip {
                        @include skip-font
                        cursor: pointer;
                        transition-duration: 0.3s;
                        &:hover {
                            background-color: #eee;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

