/*
 * Rounded Mplus 1c (Japanese) https://fonts.google.com/earlyaccess
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.eot);
  src: url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.woff) format('woff'),
       url(//fonts.gstatic.com/ea/roundedmplus1c/v1/RoundedMplus1c-Black.ttf) format('truetype');
}
 */
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Thin.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Thin.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Thin.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Thin.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Light.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Light.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Light.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Light.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Regular.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Regular.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Regular.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Regular.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Medium.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Medium.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Medium.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Medium.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Bold.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Bold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Bold.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Bold.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-ExtraBold.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-ExtraBold.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-ExtraBold.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Black.eot);
  src: url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Black.eot?#iefix) format('embedded-opentype'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Black.woff2) format('woff2'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Black.woff) format('woff'),
       url(/fonts/vendor/rounded-m-plus/RoundedMplus1c-Black.ttf) format('truetype');
}
