#page-scout {
    margin-top: 16px;
    margin-bottom: 16px;
    .general-border {
        .scout-btn {
            @include button("yellow")
            padding: 5%;
            border-radius: 20px;
            .label {
                text-align: center;
                color: #f60;
                font-size: 30px;
                font-weight: bold;
            }
            .description {
                margin-top: 16px;
                font-size: 20px;
                color: #944;
                text-align: center;
                .coin {
                    @include coin-font
                    background-image: url($imgDir + "coin.png");
                    background-repeat: no-repeat;  
                    background-position: center left;
                    background-size: 20px 20px;
                    font-size: 24px;
                    padding-left: 20px;
                    padding-right: 5px;
                }
            }
            .act-label {
                text-align: center;
                background-color: #f82;
                color: #fff;
                width: 50%;
                min-width: 160px;
                max-width: 100%;
                margin: 16px auto 0;
                padding: 8px;
                border-radius: 12px;
                font-size: 20px;
            }
            & * {
                transition: 0.3s;
            }
            &:hover * {
                opacity: 0.8;
            }
            &.disabled:hover * {
                opacity: 1;
            }
        }
        .scout-btn {
            margin: 24px 0;
        }
        .scout-btn:first-child {
          margin-bottom: 40px;
        }
    }
}
