#page-sns {
    margin-top: 16px;
    margin-bottom: 16px;

    h3 {
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        margin: 8px 0;
        color: #ffd700;
    }

    .sns-link-buttons {

        .idpass-description {
            text-align: center;
            font-size: 16px;
            margin: 16px auto;
        }

        .button {
            display: block;
            text-decoration: none;
            color: #fff;
            width: 80%;
            margin: 16px auto;
            padding: 16px 0;
            text-align: center;
            background-repeat: no-repeat;  
            background-position: 5% center;
            background-size: 32px;
            cursor: pointer;
            &.disabled {
                cursor: initial;
                opacity: 0.7;
            }
            transition-duration: 0.3s;
            &.detach {
                color: #f88;
            }
            &.twitter {
                @include social-bg('twitter');
            }
            &.facebook {
                @include social-bg('facebook');
            }
            &.line {
                @include social-bg('line');
            }
            &.google {
                @include social-bg('google');
            }
            &.yahoo {
                @include social-bg('yahoo');
            }
        }

    }

}

