#page-team {
    margin-top: 16px;
    margin-bottom: 16px;

    .general-border {
        .teamname {
            color: #ff4;
            margin-left: 16px;
            font-size: 27px;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            margin-bottom: 16px;
        }

        h2 {
            margin-bottom: 16px;
        }

        .team-status {
            font-size: 18px;
            text-align: center;
            margin: 8px 0;
        }

        ul.starting-order {
            li {
                margin: 4px 0;
                span { 
                    display: inline-block;
                    text-align: center;
                    font-size: 14px;
                }
                .batting-order { width: 7%; }
                .position { width: 8%; }
                .name { width: 43%;text-align: left; }
                .age { width: 7%; }
                .result { width: 35%;font-size: 11px; }
            }
        }

        ul.starter-pitchers {
            margin: 8px 0;
            li {
                margin: 4px 0;
                span { 
                    display: inline-block;
                    text-align: center;
                    font-size: 14px;
                }
                .starter-order { width: 15%; }
                .name { width: 43%;text-align: left; }
                .age { width: 7%; }
                .result { width: 35%;font-size: 11px; }
            }
        }
    }
}


