#page-teamname {
    margin-top: 16px;
    margin-bottom: 16px;

    h3 {
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 16px;
        color: #ffd700;
    }

    .description {
        font-size: 17px;
        line-height: 1.5;
    }

    .coin {
        @include coin-font
        background-image: url($imgDir + "coin.png");
        background-repeat: no-repeat;  
        background-position: center left;
        background-size: 20px 20px;
        font-size: 17px;
        padding-left: 20px;
        padding-right: 5px;
    }

    form {
        input[name=teamname] {
            display: block;
            border-radius: 3px;
            width: 85%;
            margin: 16px auto;
            padding: 0 8px;
            height: 40px;
            line-height: 40px;
            font-size: 24px;
            font-weight: bold;
        }
        .change-teamname {
            text-align: center;
            width: 85%;
            border-radius: 3px;
            height: 40px;
            line-height: 40px;
            margin: 16px auto;
            padding: 0 8px;
            border: 2px solid #fff;
            background-color: #224;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: #448;
            }
        }
        .errors {
            text-align: center;
            color: #f88;
        }
    }

}
