// Fonts
@import "variables";
@import "_roundedmplus1c.css";

@import "reset";
@import "parts";
@import "header";
@import "footer";
@import "modal";
@import "loginreminder";

@import "index";
@import "menu";
@import "game";
@import "order";
@import "scout";
@import "directory";
@import "ranking";
@import "friend";
@import "teamname";
@import "team";
@import "sns";
@import "howto";

html, body {
    min-height: 100%;
    font-family: 'Rounded Mplus 1c';
}
body {
    background: #223;
    background: radial-gradient(#373744, 40%, #111118);
    color: #fff;
    .container {
        padding-top: 64px;
        padding-bottom: 64px;
        @include max-screen($breakpoint-mobile) {
            &:not(.is-logged-in) {
                //padding-top: 128px;
            }
        }
    }
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

input[type=checkbox] {
    display: none;      /* checkboxを非表示にする */
    + label {
        position: relative;     /* ボックスの位置を指定する */
        padding: 0 0 0 32px;    /* ボックス内側の余白を指定する */
        white-space: nowrap;
        line-height: 32px;
        top: -6px;
        cursor: pointer;
    }
    + label:hover:after {
        border-color: #0171bd;  /* ボックスの境界線を実線で指定する */
    }
    + label:after, + label:before{
        position: absolute; /* ボックスの位置を指定する */
        content: "";        /* ボックスのコンテンツ */ 
        display: block;     /* ブロックレベル要素化する */ 
        top: 50%;           /* 上部から配置の基準位置を決める */ 
    }
    + label:after {
        left: 0px;         /* 左から配置の基準位置を決める */ 
        margin-top: -13px;  /* チェック枠の位置 */
        width: 24px;        /* ボックスの横幅を指定する */
        height: 24px;       /* ボックスの高さを指定する */
        border: 2px solid #ccc; /* ボックスの境界線を実線で指定する */
        border-radius: 2px;     /* ボックスの角丸を指定する */
    }
    + label:before {
        top: 5px;
        left: 8px;         /* 左から配置の基準位置を決める */ 
        margin-top: -7px;   /* チェックマークの位置 */
        width: 10px;         /* ボックスの横幅を指定する */
        height: 16px;        /* ボックスの高さを指定する */
        border-right: 3px solid #0171bd;    /* 境界線（右）のスタイルを指定する */
        border-bottom: 3px solid #0171bd;   /* 境界線（下）のスタイルを指定する */
        transform: rotate(45deg);   /* 要素を回転させる */
        opacity: 0;         /* 要素を透過指定する */
    }
    &:checked + label:before {
        opacity: 1
    }
}

select {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    color: #333;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
