<template>
    <div v-if="initloaded === true">
        <app-header v-bind:class="{ 'is-logged-in': isLoggedIn }"></app-header>
        <div class="container" v-bind:class="{ 'is-logged-in': isLoggedIn }">
            <router-view></router-view>
        </div>
        <app-login-reminder></app-login-reminder>
        <app-login-bonus-modal></app-login-bonus-modal>
        <app-footer></app-footer>
    </div>
</template>

<script>
    Vue.component('app-header', require('../../components/Parts/Header.vue'))
    Vue.component('app-login-reminder', require('../../components/Parts/LoginReminder.vue'))
    Vue.component('app-login-bonus-modal', require('../../components/Parts/LoginBonusModal.vue'))
    Vue.component('app-footer', require('../../components/Parts/Footer.vue'))
    export default {
        data() {
            return {
                initloaded: false // userとteamの情報をサーバーから取得が完了したかどうか
            }
        },
        mounted() {
            Promise.all([
                this.$root.updateUser(),
                this.$root.updateTeam(),
                this.$root.updateSystemParam(),
            ])
            .then(() => { 
                this.initloaded = true
            });
        },
        computed: {
            isLoggedIn() {
                return !_.isEmpty(this.$root.state.user);
            }
        }
    }
</script>
