<template>
    <footer v-if="!_.isEmpty($root.state.team)">
        <ul class="footer-menu clearfix">
            <li class="home" v-on:click="$router.push('/')"><div class="label">ホーム</div></li>
            <li class="order" v-on:click="$router.push('/order')" v-if="!_.isEmpty($root.state.team)"><div class="label">オーダー</div></li>
            <li class="scout" v-on:click="$router.push('/scout')" v-if="!_.isEmpty($root.state.team)"><div class="label">選手獲得</div></li>
            <li class="menu" v-on:click="$router.push('/menu')" v-bind:class="{ 'no-team': _.isEmpty($root.state.team) }"><div class="label">メニュー</div></li>
        </ul>
    </footer>
    <footer class="login clearfix" v-else>
        <ul class="footer-menu" v-bind:class="{ 'no-login-form': !_.isEmpty($root.state.user) }" >
            <li class="home" v-on:click="$router.push('/')"><div class="label">ホーム</div></li>
            <li class="menu" v-on:click="$router.push('/menu')" v-if="!_.isEmpty($root.state.user)"><div class="label">メニュー</div></li>
        </ul>
        <div class="id-login" v-if="_.isEmpty($root.state.user)">
            <form>
                <input type="text" name="login_id" v-model="login_id" placeholder="ログインID" />
                <input type="password" name="password" v-model="password" placeholder="パスワード" />
                <div class="errors">
                    <div class="error" v-for="error_message in errors">{{ error_message }}</div>
                </div>
            </form>
            <div class="login" v-on:click="tryLogin()">ログイン</div>
        </div>
    </footer>
</template>

<script>
Vue.component('mail', require('./Mail.vue'))
export default {
    data() {
        return {
            login_id: "",
            password: "",
            errors: [],
        }
    },
    methods: {
        tryLogin() {
            this.$http.post('/api/user/login', {
                id: this.login_id,
                password: this.password
            })
            .then(res => {
                if (res.data.successful === true) {
                    this.$root.updateUser();
                    this.$root.updateTeam();
                    this.$root.games_response = null;
                }
            })
            .catch(error => {
                this.errors = [];
                _.each(error.response.data, err_msgs => {
                    this.errors = this.errors.concat(err_msgs);
                });
            });
        }
    },
    computed: {
    }
}
</script>
