<template>
    <header class="clearfix" v-if="$route.path !== '/order'">
        <div v-if="getHeaderType === 'team_status'" class="team-status">
            <div class="left-block">
                <div class="col-1">
                    <div class="teamname">{{ $root.state.team.name }}</div>
                </div>
                <div class="col-2">
                    <div class="level-wrap"><span class="level-label">Lv.</span><span class="level">{{ $root.state.team.level }}</span></div>
                    <div class="exp-progress-wrap"><div class="exp-progress"><div class="exp-progress-bar" v-bind:style="'width: '+ $root.state.team.exp_percentage + '%;'"></div></div></div>
                </div>
            </div>
            <div class="center-block">
                <div class="coin">{{ $root.state.team.coin }}</div>
            </div>
            <div class="right-block">
                <div class="mail-wrap">
                    <div class="mail" v-on:click.stop="showModal('mail')"><span class="notice" v-if="unreadMailCount > 0">{{ unreadMailCount }}</span></div>
                </div>
                <mail></mail>
            </div>
        </div>

        <div v-else-if="getHeaderType === 'reminder_making_team'" class="reminder-making-team">
            <div class="description">ようこそ {{ $root.state.user.name }} さん<br />まずはチームを作ろう！</div>
        </div>

        <div v-else class="reminder-for-login">
            <div class="sns-login-label">ログイン</div>
            <div class="sns-login-buttons">
                <div class="button twitter" v-on:click="jump('/auth/twitter/login')"></div>
                <div class="button facebook" v-on:click="jump('/auth/facebook/login')"></div>
                <div class="button line" v-on:click="jump('/auth/line/login')"></div>
                <div class="button google" v-on:click="jump('/auth/google/login')"></div>
                <div class="button yahoo" v-on:click="jump('/auth/yahoo/login')"></div>
            </div>
        </div>
    </header>
</template>

<script>
Vue.component('mail', require('./Mail.vue'))
export default {
    computed: {
        getHeaderType() {
            if (!_.isEmpty(this.$root.state.team)) {
                return 'team_status';
            } else if (!_.isEmpty(this.$root.state.user)) {
                return 'reminder_making_team';
            } else {
                return 'reminder_for_login';
            }
        },
        unreadMailCount() {
            return _.filter(this.$root.state.mails, (mail) => mail.read_flag === 0).length;
        }

    }
}
</script>
