<template>
    <div class="modal login-bonus" style="display: none;">
        <h3>ログインボーナスGET!</h3>
        <div class="description">デイリーボーナスとして<span class="coin">100</span>と5EXPを獲得しました！</div>
        <div class="btn" v-on:click="$.modal.close();">OK</div>
    </div>
</template>

<script>
export default {
    mounted() {
        if (this.$root.state.checked_is_logged_in === 'showLoginBonusModal') this.showModal('login-bonus');
    }
}
</script>
