<template>
    <div id="login-reminder" style="display: none;">
        <div class="title">ゲームデータを保存するために、ユーザー登録をしよう！</div>
        <div class="login-type-headline">SNSアカウントで登録/ログイン</div>
        <div class="sns-login-buttons">
            <div class="button twitter" v-on:click="jump('/auth/twitter/login')"></div>
            <div class="button facebook" v-on:click="jump('/auth/facebook/login')"></div>
            <div class="button line" v-on:click="jump('/auth/line/login')"></div>
            <div class="button google" v-on:click="jump('/auth/google/login')"></div>
            <div class="button yahoo" v-on:click="jump('/auth/yahoo/login')"></div>
        </div>
        <div class="login-type-headline">または ID&パスワードで登録</div>
        <div class="id-login">
            <form>
                <input type="text" name="login_id" v-model="login_id" placeholder="ログインID" />
                <input type="password" name="password" v-model="password" placeholder="パスワード" />
                <div class="errors">
                    <div class="error" v-for="error_message in errors">{{ error_message }}</div>
                </div>
                <div class="signup" v-on:click="trySignup()">新規登録</div>
                <div class="login" v-on:click="tryLogin()">すでにIDを持っているのでログイン</div>
            </form>
        </div>
        <a class="close-reminder" v-on:click="close()"></a>
    </div>
</template>

<script>
export default {
    data() {
        return {
            login_id: "",
            password: "",
            errors: [],
        }
    },
    mounted() {
        if (this.$root.state.team !== null && this.$root.state.user === null) {
            this.$('#login-reminder').delay(500).fadeIn(400);
        }
    },
    methods: {
        trySignup() {
            this.errors = [];
            this.$http.post('/api/user/signup', { id: this.login_id, password: this.password })
            .then(res => {
                if (res.data.successful === true) {
                    this.$root.updateUser();
                    this.$root.updateTeam();
                    this.close();
                }
            })
            .catch(error => {
                _.each(error.response.data, err_msgs => {
                    this.errors = this.errors.concat(err_msgs);
                });
            });
        },
        tryLogin() {
            this.errors = [];
            this.$http.post('/api/user/login', { id: this.login_id, password: this.password })
            .then(res => {
                if (res.data.successful === true) {
                    this.$root.updateUser();
                    this.$root.updateTeam();
                    this.$root.games_response = null;
                }
            })
            .catch(error => {
                _.each(error.response.data, err_msgs => {
                    this.errors = this.errors.concat(err_msgs);
                });
            });
        },
        close() {
            this.$('#login-reminder').hide();
        }
    }
}
</script>
