<template>
    <div class="modal mail" style="display: none;">
        <h3>メッセージ一覧</h3>
        <div class="clearfix">
            <div class="receive-all" v-on:click="bulkReceiveGift()">全て受け取る</div>
        </div>
        <div class="mail-viewer">
            <ul class="mail-list">
                <li class="mail" v-for="mail in $root.state.mails" v-on:click="selectMail(mail)">
                    <span class="read-flag" v-bind:class="getReadFlag(mail)"></span><span class="title">{{ mail.title }}</span><span class="gift-flag" v-bind:class="{ has: hasGift(mail) }"></span><span class="date">{{ mail.created_at | dateFormat('M/D') }}</span>
                </li>
            </ul>
            <div class="mail-content" v-if="selected_mail">
                <div class="title">{{ selected_mail.title }}</div>
                <div class="text" style="white-space: pre;" >{{ selected_mail.body }}</div>
                <div class="receive" v-if="hasGift(selected_mail) === true" v-on:click="receiveGift(selected_mail)">受け取る</div>
                <div class="receive disabled" v-else-if="selected_mail.gift_type !== 0">受け取り済</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loaded: false,
            selected_mail: null,
        }
    },
    created() {
        this.$root.updateMails();
    },
    mounted() {
        this.$root.updateMails();
    },
    methods: {
        selectMail(mail) {
            this.selected_mail = mail;
            this.readMail(mail);
        },
        getReadFlag(mail) {
            return mail.read_flag === 1 ? 'read' : 'unread';
        },
        hasGift(mail) {
            return mail.gift_type !== 0 && mail.received === 0;
        },
        readMail(mail) {
            return this.$http.post('/api/mail/read', { mail_id: mail.id })
            .then(res => {
                return Promise.all([
                    this.$root.updateMails(),
                    this.$root.updateTeam()
                ]);
            });
        },
        receiveGift(mail) {
            return this.$http.post('/api/mail/gift/receive', { mail_id: mail.id })
            .then(res => {
                return Promise.all([
                    this.$root.updateMails(),
                    this.$root.updateTeam()
                ]);
            });
        },
        bulkReceiveGift() {
            return this.$http.post('/api/mail/bulk')
            .then(res => {
                return Promise.all([
                    this.$root.updateMails(),
                    this.$root.updateTeam()
                ]);
            });
        },
    },
    computed: {
        readFlag() {
            console.log(this);
        }
    }
}
</script>
